Repository contour-terminal/contour, pull requests merged in 2021-12, with the labels that each got.

#522 Adds support for font feature settings.
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/text_shaper/font.h
  src/text_shaper/open_shaper.cpp
Labels: documentation, frontend, fonts

#527 Improves text cursor rendering and extends cursor configuration accordingly (#526).
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/contour/opengl/TerminalWidget.cpp
  src/contour/opengl/TerminalWidget.h
  src/terminal/Color.h
  src/terminal/Grid.h
  src/terminal/Screen.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/Terminal_test.cpp
  src/terminal_renderer/CursorRenderer.cpp
  src/terminal_renderer/CursorRenderer.h
  src/terminal_renderer/Renderer.cpp
  src/terminal_renderer/Renderer.h
Labels: documentation, VT: Backend, frontend, test, VT: renderer, OpenGL

#529 Adds pixel-perfect box-drawing for U+E0B4, U+E0B6, U+E0BC, U+E0BE
  Changelog.md
  scripts/install-deps.sh
  src/terminal_renderer/BoxDrawingRenderer.cpp
Labels: documentation, VT: renderer

#530 VT: RGB parsing fix, termcap fix, curly underline beautification, ...
  Changelog.md
  src/contour/opengl/TerminalWidget.cpp
  src/terminal/Capabilities.cpp
  src/terminal/Sequencer.cpp
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/terminal_renderer/CMakeLists.txt
  src/terminal_renderer/DecorationRenderer.cpp
  src/terminal_renderer/Pixmap.cpp
  src/terminal_renderer/Pixmap.h
Labels: documentation, VT: Backend, VT: renderer, OpenGL

#532 Allow build on FreeBSD
  src/terminal/Process.cpp
  src/terminal/Process.h
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
  src/text_shaper/CMakeLists.txt
Labels: VT: Backend

#537 (#536) Fix SIGFPE on FreeBSD
  src/text_shaper/open_shaper.cpp
Labels: fonts

#535 feat(ci): add RPM packaging
  .github/fedora/Dockerfile
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

#540 Tryign to fix Fedora CI builds.
  .github/fedora/Dockerfile
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

#545 [CI] updated control file for debian based distros
  Changelog.md
  debian/control
Labels: documentation

#538 make 3rdparty management more package maintainer friendly
  .github/fedora/Dockerfile
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  CMakeLists.txt
  Changelog.md
  autogen.sh
  cmake/CPM.cmake
  cmake/FindFreetype.cmake
  cmake/FindHarfbuzz.cmake
  cmake/FindPackageHandleStandardArgs.cmake
  cmake/FindPackageMessage.cmake
  cmake/SelectLibraryConfigurations.cmake
  cmake/ThirdParties.cmake
  debian/control
  scripts/ci-prepare-contour.sh
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/contour.yml
  src/crispy/CLI_test.cpp
  src/crispy/CMakeLists.txt
  src/crispy/LRUCache_test.cpp
  src/crispy/Size_test.cpp
  src/crispy/base64_test.cpp
  src/crispy/compose_test.cpp
  src/crispy/indexed_test.cpp
  src/crispy/ring_test.cpp
  src/crispy/sort_test.cpp
  src/crispy/test_main.cpp
  src/crispy/utils_test.cpp
  src/terminal/CMakeLists.txt
  src/terminal/Capabilities_test.cpp
  src/terminal/Color_test.cpp
  src/terminal/Functions_test.cpp
  src/terminal/Grid_test.cpp
  src/terminal/InputGenerator_test.cpp
  src/terminal/Parser_test.cpp
  src/terminal/Screen_test.cpp
  src/terminal/Selector_test.cpp
  src/terminal/SixelParser_test.cpp
  src/terminal/Terminal_test.cpp
  src/terminal/test_main.cpp
  src/terminal_renderer/CMakeLists.txt
  src/text_shaper/CMakeLists.txt
Labels: documentation, VT: Backend, frontend, test, CI, CMake

#546 [Github] CI: Executs unit tests using valgrind and make it bad exit on errors.
  .github/archlinux/Dockerfile
  .github/workflows/build.yml
  .github/workflows/release.yml
  cmake/ThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/crispy/LRUCache.h
  src/crispy/assert.h
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Line.h
  src/terminal/Screen.cpp
  src/terminal/Terminal.cpp
  src/terminal_renderer/Pixmap.h
  src/terminal_renderer/TextRenderer.cpp
Labels: VT: Backend, CI, VT: renderer, CMake

#550 [CI][Ubuntu] Test `dpkg --install` the `.deb` output
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI, platform: linux

#547 Making notcurses happy, again, and again, and again. :)
  .github/workflows/external_tests.yml
  CMakeLists.txt
  autogen.sh
  cmake/ThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/CaptureScreen.cpp
  src/crispy/LRUCache.h
  src/crispy/LRUCache_test.cpp
  src/terminal/Hyperlink.h
  src/terminal/Image.cpp
  src/terminal/Image.h
  src/terminal_renderer/TextRenderer.h
Labels: VT: Backend, frontend, test, CI, VT: renderer, CMake

#560 [terminal] Fixes ICH.
  Changelog.md
  src/terminal/Grid.h
  src/terminal/Line.h
  src/terminal/Screen.cpp
  src/terminal/Screen_test.cpp
Labels: documentation, VT: Backend, test

#561 [terminal] Fixes VT sequence DECFI.
  Changelog.md
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Screen.cpp
  src/terminal/Screen_test.cpp
Labels: documentation, VT: Backend, test

#562 (#548) Try to fix linker issues again
  cmake/ThirdParties.cmake
  scripts/install-deps.sh
  src/crispy/CMakeLists.txt
  src/terminal/CMakeLists.txt
  src/text_shaper/CMakeLists.txt
Labels: CMake

#565 [contour] Adds config key `renderer` to choose a renderer: default, software, OpenGL.
  Changelog.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/contour.yml
Labels: documentation, frontend

#566 CI: trying to get external tests ASAN to pass
  .github/mock-font-locator.yml
  .github/workflows/external_tests.yml
  Changelog.md
  scripts/ci/Xvfb-contour-run.sh
  scripts/install-deps.sh
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/terminal/CMakeLists.txt
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/Screen.cpp
  src/terminal/Sequencer.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/logging.h
  src/terminal/pty/UnixPty.cpp
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
  src/text_shaper/CMakeLists.txt
  src/text_shaper/mock_font_locator.cpp
  src/text_shaper/mock_font_locator.h
Labels: documentation, VT: Backend, frontend, CI, VT: renderer, fonts
