Repository contour-terminal/contour, pull requests merged in 2021-10, with the labels that each got.

#428 Update CPM to 0.34.0
  cmake/CPM.cmake
Labels: CMake

#431 [terminal] Changes DECSDM to reflect changes in xterm-369 to match behaviour of real VT340.
  Changelog.md
  src/terminal/Screen.cpp
Labels: documentation, VT: Backend

#429 Tune CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#432 Fixes XTSMGRAPHICS SetValue for Sixels at least.
  Changelog.md
  src/terminal/Screen.cpp
  src/terminal/Sequencer.cpp
Labels: documentation, VT: Backend

#433 Changes (Sixel) image default size limits to 1920x1200.
  Changelog.md
  src/contour/Config.h
  src/contour/TerminalWindow.cpp
  src/contour/contour.yml
Labels: documentation, VT: Backend, frontend

#434 Automatically detect if `contour` or `contour-latest` terminfo entries are present use that as default.
  Changelog.md
  src/contour/Config.cpp
  src/terminal/Capabilities.cpp
Labels: documentation, VT: Backend, frontend

#436 Fixes off-by-one bug in builtin box drawing.
  Changelog.md
  src/terminal_renderer/BoxDrawingRenderer.cpp
Labels: documentation, VT: renderer

#439 Update deps
  cmake/ThirdParties.cmake
Labels: CMake

#442 Fixes rare case in open_shaper to not render some runs.
  Changelog.md
  src/text_shaper/open_shaper.cpp
Labels: documentation, fonts

#438 Adds more pixel-perfect graphical codepoints.
  Changelog.md
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/terminal_renderer/BoxDrawingRenderer.h
  src/terminal_renderer/TextRenderer.cpp
Labels: documentation, enhancement, VT: renderer

#445 Fix `Superfluous config key found` warnings
  src/contour/Config.cpp
Labels: frontend

#447 Update FreeType and HarfBuzz
  cmake/ThirdParties.cmake
Labels: CMake

#446 Add option to set a custom `WM_CLASS`
  README.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/contour.yml
Labels: documentation, frontend

#487 [contour] Enables TCAP query feature by default, removes experimental flag, not configurable anymore.
  Changelog.md
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/terminal/Screen.h
Labels: documentation, VT: Backend, frontend
