Repository contour-terminal/contour, pull requests merged in 2021-07, with the labels that each got.

#284 Adds config option `mode` to input modifiers for additionally filtering.
  Changelog.md
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/terminal/InputGenerator.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
Labels: VT: Backend, documentation, enhancement, frontend

#297 Rework input bindings to properly support mode matching.
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/contour/helper.cpp
  src/contour/helper.h
  src/terminal/CMakeLists.txt
  src/terminal/InputBinding.cpp
  src/terminal/InputBinding.h
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/MatchModes.cpp
  src/terminal/MatchModes.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/Terminal_test.cpp
Labels: VT: Backend, frontend, test

#298 Fixing the remaining links
  scripts/release-ppa.sh
  src/contour/CMakeLists.txt
  src/contour/ContourApp.cpp
Labels: frontend

#301 Bump GH actions
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/release.yml
Labels: CI

#305 Building without `LIBTERMINAL_LOG_TRACE` option
  src/terminal/Screen.cpp
Labels: VT: Backend

#307 Implements conditional input mappings based on whether or not the user has selected some text. Closes #292.
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/terminal/MatchModes.cpp
  src/terminal/MatchModes.h
Labels: VT: Backend, documentation, frontend

#306 Adds stacktrace printing SEGV handler.
  CMakeLists.txt
  TODO.md
  src/contour/ContourApp.cpp
  src/contour/TerminalSession.cpp
  src/crispy/App.cpp
  src/crispy/CMakeLists.txt
  src/crispy/StackTrace.cpp
  src/crispy/StackTrace.h
  src/terminal/Terminal.cpp
Labels: CMake, VT: Backend, documentation, frontend

#311 Add support for Qt 6
  CMakeLists.txt
  Changelog.md
  src/contour/CMakeLists.txt
  src/contour/TerminalWindow.cpp
  src/contour/TerminalWindow.h
  src/contour/opengl/CMakeLists.txt
  src/contour/opengl/OpenGLRenderer.h
  src/contour/opengl/ShaderConfig.h
  src/contour/opengl/TerminalWidget.h
Labels: CMake, OpenGL, documentation, frontend

#313 Use CPM
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/CPM.cmake
  cmake/FetchContent.cmake
  cmake/FetchContent/CMakeLists.cmake.in
  cmake/ThirdParties.cmake
Labels: CI, CMake

#314 Add EXCLUDE_FROM_ALL to all third-parties
  cmake/ThirdParties.cmake
Labels: CMake

#308 pixel perfect box drawing
  Changelog.md
  TODO.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/terminal_renderer/BoxDrawingRenderer.h
  src/terminal_renderer/CMakeLists.txt
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
  src/terminal_renderer/utils.cpp
  src/terminal_renderer/utils.h
  test/box-drawings.sh
Labels: VT: renderer, documentation, frontend

#316 [CMake] Changing the order of CPMAddPackage() calls fixes YAML's SEGV
  cmake/ThirdParties.cmake
Labels: CMake

#321 Add link to `ANSI escape codes` in Wikipedia
  .github/workflows/build.yml
  README.md
Labels: CI, documentation

#318 random stuff
  src/crispy/CLI.cpp
  src/terminal/Image.h
Labels: VT: Backend

#322 [CI] Fixes CI building for Windows platform. N'th attempt.
  .github/workflows/build.yml
Labels: CI

#323 [terminal] Terminal: Fixes skipping grid cell that contained decorati…
  src/terminal/Terminal.cpp
  test/decoration.sh
Labels: VT: Backend

#324 Fixes bad visuals on some box drawing primitives.
  src/terminal_renderer/BoxDrawingRenderer.cpp
Labels: VT: renderer

#325 Fix/qt mouse wheel and transparency
  src/contour/helper.cpp
  src/contour/opengl/TerminalWidget.cpp
  src/terminal_renderer/Renderer.h
Labels: OpenGL, VT: renderer, frontend

#330 fixes and improvements to synchronized updates
  autogen.sh
  src/contour/opengl/CMakeLists.txt
  src/contour/opengl/TerminalWidget.cpp
  src/contour/opengl/TerminalWidget.h
  src/crispy/debuglog.h
  src/terminal/CMakeLists.txt
  src/terminal/RenderBuffer.cpp
  src/terminal/RenderBuffer.h
  src/terminal/Screen.cpp
  src/terminal/ScreenEvents.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal_renderer/Renderer.cpp
Labels: OpenGL, VT: Backend, VT: renderer

#326 improve debug state dumping (also for SEGV)
  src/contour/ContourApp.cpp
  src/contour/opengl/TerminalWidget.cpp
  src/crispy/App.cpp
  src/crispy/App.h
  src/terminal/Grid.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
Labels: OpenGL, VT: Backend, frontend

#329 Fixing Qt6 compatibility
  src/contour/helper.cpp
Labels: frontend

#334 Add Qt6 to CI (OS/X)
  .github/workflows/build.yml
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
Labels: CI

#320 Initial work on improving ASCII text throughput performance.
  src/terminal/CMakeLists.txt
  src/terminal/Parser.cpp
  src/terminal/Parser.h
  src/terminal/ParserEvents.h
  src/terminal/Process.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/bench-headless.cpp
Labels: VT: Backend, performance

#338 code cleanups and minor performance improvements
  src/terminal/CMakeLists.txt
  src/terminal/Parser.cpp
  src/terminal/RenderBuffer.h
  src/terminal/Screen.h
  src/terminal/Sequence.cpp
  src/terminal/Sequence.h
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
Labels: VT: Backend

#337 Update deps
  cmake/ThirdParties.cmake
Labels: CMake

#341 Using mimalloc (experimental, optionally)
  CMakeLists.txt
  Changelog.md
  cmake/ThirdParties.cmake
  src/contour/CMakeLists.txt
Labels: CMake, documentation

#349 LRU cache API and some initial uses
  src/crispy/CMakeLists.txt
  src/crispy/LRUCache.h
  src/crispy/LRUCache_test.cpp
Labels: test

#350 Improve load_font in DWrite shaper
  src/text_shaper/directwrite_shaper.cpp
Labels: fonts

#354 Don't use AA_DisableHighDpiScaling with Qt 6
  src/contour/ContourGuiApp.cpp
Labels: frontend

#355 Fix opengl shaper on Win32
  src/terminal/pty/ConPty.cpp
  src/terminal_renderer/TextRenderer.cpp
  src/text_shaper/open_shaper.cpp
Labels: VT: renderer, fonts

#357 Refine monospace font search for macOS
  src/text_shaper/open_shaper.cpp
Labels: fonts
