Repository contour-terminal/contour, pull requests merged in 2021-11, with the labels that each got.

#489 [contour] Extents CLI parameters to support those that Qt supports by default.
  Changelog.md
  src/contour/ContourGuiApp.cpp
Labels: documentation, frontend

#490 Adds context menu support for KDE
  Changelog.md
  debian/contour.install
  src/contour/CMakeLists.txt
  src/contour/contour-run.desktop
Labels: documentation, enhancement, platform: linux

#496 Adds `on_mouse_select` config option, Meta+key input fix, and minor code cleanups
  .github/workflows/build.yml
  Changelog.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/contour/helper.cpp
  src/contour/opengl/TerminalWidget.cpp
Labels: documentation, enhancement, frontend, CI, code health, OpenGL

#497 Improving new window behavior
  Changelog.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/Controller.cpp
  src/contour/Controller.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalWindow.cpp
  src/contour/TerminalWindow.h
  src/contour/contour.yml
Labels: documentation, frontend

#500 Fixes ignoring input mappings when Ctrl modifier is used.
  Changelog.md
  src/contour/helper.cpp
Labels: documentation, frontend

#501 New action CancelSelection and new default key binds (Ctrl+C / Ctrl+V / Escape)
  Changelog.md
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
Labels: documentation, frontend

#498 Adds process CWD on macOS
  Changelog.md
  src/contour/Controller.cpp
  src/contour/TerminalSession.cpp
  src/contour/helper.cpp
  src/terminal/Process.cpp
  src/terminal/Process.h
  src/terminal/pty/UnixPty.h
Labels: documentation, VT: Backend, frontend

#507 Adds `contour license` CLI command.
  CMakeLists.txt
  Changelog.md
  src/contour/Actions.cpp
  src/contour/Config.cpp
  src/contour/ContourApp.cpp
  src/crispy/App.cpp
  src/crispy/App.h
  src/crispy/CLI.h
  src/crispy/utils.h
  src/terminal/InputGenerator.cpp
Labels: documentation, enhancement, VT: Backend, frontend, CMake

#508 Feature/bench headless cli
  Changelog.md
  src/terminal/CMakeLists.txt
  src/terminal/bench-headless.cpp
Labels: documentation, VT: Backend

#509 Release contour 0.2.2
  Changelog.md
Labels: documentation

#503 Use CoreText for matching font descriptions and font fallback
  src/terminal_renderer/Renderer.cpp
  src/text_shaper/CMakeLists.txt
  src/text_shaper/coretext_locator.h
  src/text_shaper/coretext_locator.mm
Labels: VT: renderer, fonts

#512 CI: Adds notcurses-demo via Xvfb to test chain.
  .editorconfig
  .github/workflows/Xvfb-contour-run.sh
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/notcurses-install-deps.sh
  .github/workflows/release.yml
  Changelog.md
  TODO.md
  src/contour/ContourGuiApp.cpp
  src/contour/Controller.cpp
  src/contour/Controller.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalWindow.cpp
  src/contour/TerminalWindow.h
  src/contour/contour.yml
  src/contour/opengl/OpenGLRenderer.cpp
  src/contour/opengl/OpenGLRenderer.h
  src/contour/opengl/TerminalWidget.cpp
  src/contour/opengl/TerminalWidget.h
  src/crispy/CLI.cpp
  src/terminal/Process.cpp
  src/terminal/Process.h
  src/terminal/Terminal.cpp
  src/terminal/pty/ConPty.cpp
  src/terminal/pty/ConPty.h
  src/terminal/pty/MockPty.cpp
  src/terminal/pty/MockPty.h
  src/terminal/pty/MockViewPty.cpp
  src/terminal/pty/MockViewPty.h
  src/terminal/pty/Pty.h
  src/terminal/pty/PtyProcess.cpp
  src/terminal/pty/PtyProcess.h
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
  src/terminal_renderer/RenderTarget.h
Labels: documentation, VT: Backend, frontend, CI, VT: renderer, OpenGL

#516 [CI] Refactor external tests into its own workflow.
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/external_tests.yml
  CMakeLists.txt
  cmake/FilesystemResolver.cmake
  scripts/ci-prepare-contour.sh
  scripts/ci/Xvfb-contour-run.sh
  scripts/ci/notcurses-install-deps.sh
Labels: CI, CMake

#517 Fixes crash caused by PM and SOS.
  Changelog.md
  src/terminal/Parser.h
  src/terminal/ParserEvents.h
  src/terminal/Parser_test.cpp
  src/terminal/Sequencer.h
  src/terminal/bench-headless.cpp
Labels: documentation, VT: Backend, test
