Repository contour-terminal/contour, pull requests merged in 2021-06, with the labels that each got.

#227 [CI] Fix CodeChecker again - `analyze` needs the exit status ignored
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  scripts/ci-prepare-contour.sh
Labels: CI

#229 Adds rectangular area related VT sequences
  Changelog.md
  src/terminal/Functions.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/Sequencer.cpp
Labels: VT: Backend, backend, test

#239 Adds VT sequence DECRQM (or better: finishes it)
  Changelog.md
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
Labels: VT: Backend, test

#243 Fixes `ioctl(..., TIOCGWINSZ, ...)` pixel values that were only set during resize but not initially. Fixes #241.
  Changelog.md
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
  src/terminal_view/TerminalView.cpp
Labels: VT: Backend, documentation

#250 [contour] Some more OpenGL widget cleanups.
  TODO.md
  autogen.sh
  src/contour/TerminalDisplay.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/contour/opengl/OpenGLRenderer.cpp
  src/contour/opengl/OpenGLRenderer.h
  src/contour/opengl/TerminalWidget.cpp
  src/contour/opengl/TerminalWidget.h
  src/terminal_renderer/GridMetrics.h
  src/terminal_renderer/RenderTarget.h
  src/terminal_renderer/Renderer.cpp
  src/terminal_renderer/Renderer.h
Labels: OpenGL, VT: renderer, documentation, frontend

#252 text updates and a key input mapping fix
  TODO.md
  src/contour/helper.cpp
  src/terminal/Terminal_test.cpp
Labels: VT: Backend, bug, documentation, frontend, test

#264 Fix/cursor blink excess bug and its induced cpu load
  src/contour/TerminalSession.cpp
  src/contour/opengl/TerminalWidget.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/Terminal_test.cpp
  src/terminal_renderer/Renderer.cpp
Labels: OpenGL, VT: Backend, VT: renderer, frontend, test

#267 [contour] TerminalSession: Fixes scheduleRedraw
  src/contour/TerminalSession.h
  src/terminal/Terminal.h
Labels: VT: Backend, frontend

#272 [contour] Fixes scrollbar `hidden` mode to also resize terminal widget area to maximum size.
  src/contour/TerminalWindow.cpp
Labels: frontend

#268 [contour] Report on missing config keys.
  src/contour/Config.cpp
  src/crispy/escape.h
  src/terminal_renderer/DecorationRenderer.cpp
Labels: VT: renderer, frontend

#274 Adds action `ClearHistoryAndReset`
  Changelog.md
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
Labels: documentation, frontend
