Repository contour-terminal/contour, pull requests merged in 2021-09, with the labels that each got.

#402 Fixes terminfo database's accidental double-escapes.
  Changelog.md
  src/terminal/Capabilities.cpp
Labels: documentation, VT: Backend

#403 Adding some more entries to terminfo database
  Changelog.md
  src/terminal/Capabilities.cpp
  src/terminal/Capabilities.h
Labels: documentation, VT: Backend

#410 [contour] Do not force OpenGL ES on Linux.
  Changelog.md
  src/contour/opengl/TerminalWidget.cpp
Labels: frontend: OpenGL, platform: linux

#409 Fixes SEGV with overflowing (Sixel) images.
  Changelog.md
  src/terminal/Screen.cpp
Labels: documentation, VT: Backend

#412 [terminal] Fixes CPU load going up on mouse move inside terminal window.
  Changelog.md
  src/contour/TerminalSession.cpp
  src/terminal/InputGenerator.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
Labels: documentation, VT: Backend, frontend

#411 Fixes internal pixel width/height tracking
  Changelog.md
  src/contour/helper.cpp
Labels: documentation, frontend

#413 more mouse-move event performance optimizations
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/helper.cpp
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
Labels: VT: Backend, frontend

#414 Update CPM to latest
  cmake/CPM.cmake
Labels: CMake

#415 Update deps
  cmake/ThirdParties.cmake
Labels: CMake

#417 Update changelog
  Changelog.md
Labels: documentation

#418 Experimental: embedded FreeType and HarfBuzz
  .github/workflows/build.yml
  CMakeLists.txt
  Changelog.md
  cmake/ThirdParties.cmake
  src/text_shaper/CMakeLists.txt
Labels: documentation, CI, CMake

#427 [contour] Fixes configuring a custom shell on OS/X.
  Changelog.md
  src/contour/Config.cpp
Labels: documentation, frontend
