Repository contour-terminal/contour, pull requests merged in 2021-08, with the labels that each got.

#363 font file resolving extracted into its ownfont_locator API
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/terminal_renderer/Renderer.cpp
  src/terminal_renderer/TextRenderer.h
  src/text_shaper/CMakeLists.txt
  src/text_shaper/directwrite_shaper.cpp
  src/text_shaper/directwrite_shaper.h
  src/text_shaper/font.h
  src/text_shaper/font_locator.h
  src/text_shaper/fontconfig_locator.cpp
  src/text_shaper/fontconfig_locator.h
  src/text_shaper/open_shaper.cpp
  src/text_shaper/open_shaper.h
  src/text_shaper/shaper.h
Labels: VT: renderer, documentation, fonts, frontend

#364 Fix DWrite shaper fallback logic
  src/text_shaper/directwrite_shaper.cpp
Labels: fonts

#372 [CI][CodeChecker] Update skip-list
  .github/codechecker/skipfile.txt
Labels: CI

#369 TextRenderer cleanup / refactor / LRU-cache uses
  src/crispy/LRUCache.h
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
Labels: VT: renderer

#370 Added dedicated bundle plist for macOS
  cmake/Modules/MacOSXBundleInfo.plist.in
  src/contour/CMakeLists.txt
Labels: CMake

#373 [terminal_renderer] TextRenderer: Another round of code cleanups.
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
Labels: VT: renderer

#374 [text_shaper] DWrite minor cleanups.
  src/text_shaper/directwrite_shaper.cpp
Labels: fonts

#377 [terminal] Cell: render underline/decoration default coloring
  src/terminal/Grid.h
  src/terminal/Terminal.cpp
Labels: VT: Backend

#380 OpenGL version related cleanups and hard-dependency drop.
  autogen.sh
  src/contour/opengl/CMakeLists.txt
  src/contour/opengl/TerminalWidget.cpp
Labels: OpenGL

#383 Fixes at least rounding issues in underline decorations and line overall thickness
  src/contour/TerminalSession.cpp
  src/terminal/Screen.cpp
  src/terminal/Terminal.cpp
  src/terminal_renderer/DecorationRenderer.cpp
  src/terminal_renderer/DecorationRenderer.h
Labels: VT: Backend, frontend, VT: renderer

#384 [terminal] Parser: Fixes APC handling and adds some basic interface for handling it.
  src/terminal/Parser.h
  src/terminal/ParserEvents.h
  src/terminal/Parser_test.cpp
  src/terminal/Sequencer.h
  src/terminal/bench-headless.cpp
Labels: VT: Backend, test

#386 Trying to fix Windows MSI installer.
  .github/workflows/build.yml
  .github/workflows/release.yml
  src/contour/CMakeLists.txt
Labels: CI
