Repository contour-terminal/contour, pull requests merged in 2022-05, with the labels that each got.

#660 vi-like input modes
  Changelog.md
  docs/input-modes.md
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/crispy/utils.h
  src/terminal/CMakeLists.txt
  src/terminal/Cell.h
  src/terminal/ColorPalette.h
  src/terminal/InputHandler.h
  src/terminal/Line.h
  src/terminal/MatchModes.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.cpp
  src/terminal/TerminalState.h
  src/terminal/ViCommands.cpp
  src/terminal/ViCommands.h
  src/terminal/ViInputHandler.cpp
  src/terminal/ViInputHandler.h
  src/terminal/Viewport.cpp
  src/terminal/Viewport.h
  src/terminal/primitives.h
Labels: documentation, VT: Backend, frontend

#666 customizable dim (faint) colors.
  Changelog.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/contour.yml
  src/terminal/Cell.h
  src/terminal/ColorPalette.cpp
  src/terminal/ColorPalette.h
  src/terminal/Line.h
Labels: documentation, VT: Backend, frontend

#667 [terminal] VTWriter: reliably write out RGB colors and indexed colors.
  src/terminal/VTWriter.cpp
  src/terminal/VTWriter.h
Labels: VT: Backend

#668 improve pasting from clipboard when data is non-textual
  src/contour/TerminalSession.cpp
  src/terminal/InputGenerator.cpp
Labels: VT: Backend, frontend

#673 WIP: Vi-mode selection improvements.
  Changelog.md
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Terminal.cpp
  src/terminal/ViCommands.cpp
  src/terminal/ViCommands.h
  src/terminal/ViInputHandler.cpp
  src/terminal/ViInputHandler.h
Labels: documentation, VT: Backend

#674 [terminal] Fixes `XTSMGRAPHICS` when querying sixel image limits, to be capped at terminal viewport dimensions (#656).
  Changelog.md
  src/terminal/Screen.cpp
  src/terminal/Screen.h
Labels: documentation, VT: Backend

#677 [terminal] Fixes SGR and text breakage when altering charsets via `ESC ( 0` VT sequence (#661).
  Changelog.md
  src/terminal/Charset.h
  src/terminal/Screen.cpp
Labels: documentation, VT: Backend

#679 Trying to fix CLI.
  scripts/ci/Xvfb-contour-run.sh
  src/contour/Config.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/crispy/CLI.cpp
  src/terminal/ViInputHandler.cpp
Labels: VT: Backend, frontend

#684 Fixes Synchronized Updates (`SM/RM ? 2026`) sometimes lagging behind in rendering.
  Changelog.md
  src/terminal/Terminal.cpp
Labels: documentation, VT: Backend

#651 [DRAFT] Resuming sessions
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalWindow.cpp
  src/contour/contour.yml
  src/crispy/App.cpp
  src/crispy/utils.h
Labels: VT: Backend, frontend

#695 Adds E3 capability for clearing scrollback and screen
  Changelog.md
  src/terminal/Capabilities.cpp
Labels: documentation, VT: Backend

#698 fix #696
  src/terminal/Line.cpp
Labels: VT: Backend

#700 makeColors correctly handles `CellFlags::Hidden`
  src/terminal/RenderBufferBuilder.cpp
Labels: VT: Backend

#701 Fixes loss of text color
  src/terminal/RenderBufferBuilder.cpp
Labels: VT: Backend

#703 [terminal] Fixes writing to a non-empty line sometimes destroying the contents of that line.
  Changelog.md
  src/contour/ContourGuiApp.cpp
  src/terminal/Line.cpp
  src/terminal/Line.h
  src/terminal/Screen.cpp
Labels: documentation, VT: Backend, frontend

#704 prep-works for VT text processing PR
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/ContourGuiApp.cpp
  src/terminal/Line.cpp
  src/terminal/Line.h
  src/terminal/Line_test.cpp
  src/terminal/Parser-impl.h
  src/terminal/ParserEvents.h
  src/terminal/Parser_test.cpp
  src/terminal/RenderBuffer.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Sequence.h
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/Terminal_test.cpp
  src/terminal/bench-headless.cpp
  src/terminal_renderer/Renderer.cpp
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
Labels: VT: Backend, frontend, test, VT: renderer

#705 Made necessary changes to compile on aarch64
  README.md
  src/crispy/CMakeLists.txt
  src/crispy/StrongHash.h
  src/crispy/StrongLRUCache.h
  src/crispy/StrongLRUHashtable.h
  src/crispy/sse2neon.h
Labels: documentation
