Repository contour-terminal/contour, pull requests merged in 2022-10, with the labels that each got.

#845 Fixes vi cursor color
  metainfo.xml
  src/terminal/RenderBufferBuilder.cpp
Labels: VT: Backend

#846 Some prep-work for VT text processing optimizations.
  src/terminal/Parser-impl.h
  src/terminal/Parser.h
  src/terminal/ParserEvents.h
  src/terminal/Parser_test.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/TerminalState.h
  src/terminal/bench-headless.cpp
Labels: VT: Backend, test, code health

#843 Updating libunicode (containing some build-dependency changes).
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/external_tests.yml
  .github/workflows/release.yml
  autogen.sh
  scripts/install-deps.ps1
  scripts/install-deps.sh
Labels: CI

#847 Add support for infinite grid
  src/contour/Config.cpp
  src/contour/Config.h
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Grid_test.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.cpp
  src/terminal/TerminalState.h
  src/terminal/primitives.h
Labels: VT: Backend, frontend, test

#692 improve VT text processing efficiency
  cmake/PedanticCompiler.cmake
  metainfo.xml
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/terminal/Line.cpp
  src/terminal/Line_test.cpp
  src/terminal/Parser.cpp
  src/terminal/Parser.h
  src/terminal/ParserEvents.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
Labels: VT: Backend, test, CMake

#852 Adds menu entry to Dolphin file manager to open Contour
  metainfo.xml
  src/contour/CMakeLists.txt
  src/contour/contour.desktop
  src/contour/org.contourterminal.Contour.OpenHere.desktop
Labels: enhancement, platform: linux

#853 Remove not needed mkdir from build instructions
  README.md
Labels: documentation

#854 code cleanups & C++ concepts for Cell API.
  .github/workflows/build.yml
  CMakeLists.txt
  autogen.sh
  src/contour/display/OpenGLRenderer.cpp
  src/crispy/CMakeLists.txt
  src/crispy/Owned.h
  src/crispy/defines.h
  src/terminal/Cell.h
  src/terminal/CellConcept.h
  src/terminal/Color.h
  src/terminal/ColorPalette.h
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Terminal.h
  src/terminal/defines.h
  src/terminal/primitives.h
Labels: VT: Backend, CI, code health, CMake

#856 Adding new Cell storage implementation and restructure Cell storage related files
  src/terminal/CMakeLists.txt
  src/terminal/CellUtil.h
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Grid_test.cpp
  src/terminal/Line.cpp
  src/terminal/Line.h
  src/terminal/Line_test.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.cpp
  src/terminal/TerminalState.h
  src/terminal/VTWriter.cpp
  src/terminal/bench-headless.cpp
  src/terminal/cell/CellConcept.h
  src/terminal/cell/CellConfig.h
  src/terminal/cell/CompactCell.cpp
  src/terminal/cell/CompactCell.h
  src/terminal/cell/SimpleCell.h
Labels: VT: Backend, test

#858 Reducing code smell
  src/terminal/CellUtil.h
  src/terminal/Grid.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Terminal.cpp
  src/terminal/cell/CellConcept.h
  src/terminal/cell/CompactCell.h
  src/terminal/cell/SimpleCell.h
Labels: VT: Backend

#855 VT performance improvements for alternate-screen and custom-vertical-margin scroll-up
  metainfo.xml
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Line.h
Labels: VT: Backend, performance

#859 [terminal] Fix historyLineCount
  src/terminal/Grid.h
  src/terminal/Grid_test.cpp
Labels: VT: Backend, test

#860 Fixing assertion found via bench-headless cat
  .github/workflows/build.yml
  metainfo.xml
  src/contour/CaptureScreen.cpp
  src/terminal/Parser.cpp
  src/terminal/Parser.h
  src/terminal/ParserEvents.h
  src/terminal/Parser_test.cpp
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/Terminal.cpp
  src/terminal/bench-headless.cpp
Labels: VT: Backend, CI

#861 Fixes ground-state infinite loop in corner case
  metainfo.xml
  src/terminal/Parser.cpp
  src/terminal/Parser.h
  src/terminal/Sequencer.cpp
Labels: VT: Backend

#862 Avoid slow path on rendering trivial line if possible.
  metainfo.xml
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Selector.cpp
  src/terminal/Selector.h
  src/terminal/Terminal.h
Labels: VT: Backend

#863 [CI] Upgrade GitHub Actions scripts, dependencies
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/external_tests.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .gitignore
  scripts/ci-set-vars.ps1
  scripts/ci-set-vars.sh
  scripts/ci/Xvfb-contour-run.sh
Labels: CI

#865 Fix wide char cursor placement
  metainfo.xml
  src/terminal/Line.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Screen.cpp
  src/terminal/Terminal.cpp
  src/terminal_renderer/TextRenderer.cpp
Labels: VT: Backend, VT: renderer

#867 various fixes
  metainfo.xml
  src/terminal/CellUtil.h
  src/terminal/Process_unix.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/ViCommands.cpp
  src/terminal/ViCommands.h
  src/terminal/Viewport.h
Labels: VT: Backend
