Repository contour-terminal/contour, pull requests merged in 2022-01, with the labels that each got.

#571 [crispy] StrongLRUCache: Adds erase(), inspect() and other minor improvements.
  src/crispy/StrongLRUCache.h
  src/crispy/StrongLRUCache_test.cpp
Labels: test

#579 Adds SGR-Pixels support (VT sequence `SM ? 1016 h` / `RM ? 1016 l`).
  Changelog.md
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/helper.cpp
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/Screen.cpp
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/primitives.h
Labels: documentation, VT: Backend, frontend

#580 [terminal] Sequencer: Fixes OSC 4 reply (include color index).
  src/terminal/Sequencer.cpp
Labels: VT: Backend

#584 [terminal] Screen: Fixes XTGETTCAP response to string requests and invalid numeric requests.
  Changelog.md
  src/terminal/Capabilities.cpp
  src/terminal/Capabilities.h
  src/terminal/Screen.cpp
  src/terminal/Screen_test.cpp
Labels: documentation, VT: Backend, test

#587 Add formatter
  src/contour/Config.h
  src/terminal/InputGenerator.h
  src/terminal/Screen.h
Labels: VT: Backend, frontend

#585 Testing C++20 availability gently.
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml.disabled
  CMakeLists.txt
  README.md
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/Actions.cpp
  src/contour/TerminalSession.cpp
  src/contour/helper.cpp
  src/crispy/StrongLRUHashtable.h
  src/crispy/boxed.h
  src/crispy/escape.h
  src/crispy/logstore.h
  src/crispy/ring.h
  src/crispy/utils.h
  src/terminal/Grid.cpp
  src/terminal/Grid_test.cpp
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/InputGenerator_test.cpp
  src/terminal/Line.h
  src/terminal/Parser.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/Sequencer.cpp
  src/terminal/Sequencer.h
  src/terminal/SixelParser_test.cpp
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/terminal_renderer/RenderTarget.h
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/utils.cpp
  src/text_shaper/fontconfig_locator.cpp
  src/text_shaper/open_shaper.cpp
  src/text_shaper/shaper.cpp
Labels: documentation, VT: Backend, frontend, test, CI, VT: renderer, fonts, CMake

#594 [terminal] Fixes `SU` in combination with `DECLRM` (#593).
  Changelog.md
  src/terminal/Grid.cpp
  src/terminal/Screen_test.cpp
Labels: documentation, VT: Backend, test
