Repository contour-terminal/contour, pull requests merged in 2022-04, with the labels that each got.

#627 Update checkout action to v3
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/codeql-analysis.yml.disabled
  .github/workflows/external_tests.yml
  .github/workflows/ppa.yml.disabled
  .github/workflows/release.yml
Labels: CI

#634 Fixes assertion on bad use of DECSTBM
  src/terminal/Screen_test.cpp
  src/terminal/Terminal.cpp
  src/terminal/primitives.h
Labels: VT: Backend, test

#633 [CI] Upload Ubuntu `ddeb`s as artefacts
  .github/workflows/build.yml
  .github/workflows/external_tests.yml
  src/contour/CMakeLists.txt
Labels: CI, build, platform: linux

#628 Fixes resize bug / scrollback history rotation
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Line.h
Labels: VT: Backend

#643 Fixes abort if displaying sixel and resizing font
  Changelog.md
  src/contour/opengl/OpenGLRenderer.cpp
  src/terminal_renderer/ImageRenderer.cpp
  src/terminal_renderer/RenderTarget.cpp
  src/terminal_renderer/RenderTarget.h
  src/terminal_renderer/TextureAtlas.h
Labels: documentation, VT: renderer, OpenGL

#644 some code health improvements
  .clang-tidy
  .github/fedora/contour.spec
  .github/workflows/build.yml
  src/contour/TerminalSession.cpp
  src/contour/TerminalWindow.cpp
  src/contour/TerminalWindow.h
  src/contour/opengl/TerminalWidget.cpp
  src/crispy/assert.h
  src/crispy/utils.h
  src/terminal/Capabilities.cpp
  src/terminal/ColorPalette.h
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/Process.h
  src/terminal/Sequence.h
  src/terminal/pty/UnixPty.cpp
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/text_shaper/open_shaper.cpp
Labels: VT: Backend, frontend, CI, VT: renderer, fonts, OpenGL

#650 Overall improvements and fix to #647
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/crispy/App.cpp
  src/crispy/BufferObject.cpp
  src/crispy/utils.h
  src/terminal/Process.h
  src/terminal/Process_unix.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Terminal.cpp
  src/terminal/pty/ConPty.cpp
  src/terminal/pty/ConPty.h
  src/terminal/pty/MockPty.cpp
  src/terminal/pty/MockPty.h
  src/terminal/pty/Pty.h
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
Labels: documentation, VT: Backend, frontend

#653 Fixes fallback shell spawning
  Changelog.md
  src/terminal/Process_unix.cpp
Labels: documentation, VT: Backend

#654 trying to fix CI external tests
  .github/workflows/external_tests.yml
  scripts/ci/Xvfb-contour-run.sh
Labels: CI

#662 Fixes selection being wrongly rendered when viewport is scrolled.
  Changelog.md
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Terminal.cpp
Labels: documentation, VT: Backend
