Repository contour-terminal/contour, pull requests merged in 2022-09, with the labels that each got.

#801 Bumping fmtlib and libunicode with it.
  .github/workflows/build.yml
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/Audio.cpp
  src/contour/display/OpenGLRenderer.cpp
Labels: frontend, CI

#800 [Flatpak] Adds configuration key `profiles.*.escape_sandbox`
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/terminal/Process.h
  src/terminal/Process_unix.cpp
  src/terminal/Process_win32.cpp
Labels: documentation, VT: Backend, frontend

#802 move metainfo.xml to project root and use that for changelog & CI.
  .editorconfig
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/external_tests.yml
  .github/workflows/release.yml
  Changelog.md
  cmake/Version.cmake
  debian/contour.install
  metainfo.xml
  scripts/check-release.sh
  scripts/ci-set-vars.ps1
  scripts/ci-set-vars.sh
  scripts/mkchangelogmd.sh
  src/contour/CMakeLists.txt
  src/contour/metainfo.xml
Labels: documentation, CI, build, CMake

#805 Fixing selection magically deselecting when indicator status line was shown and the top page line was selected.
  metainfo.xml
  src/terminal/Terminal.cpp
  src/terminal/ViInputHandler.h
Labels: VT: Backend

#806 Adds `live_config` reload configuration option.
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/contour.yml
Labels: frontend

#807 Adding AppImage packaging
  .github/workflows/build.yml
  .github/workflows/external_tests.yml
  .github/workflows/release.yml
  metainfo.xml
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
Labels: CI, build

#813 Fixes interpretation of DECSDM to disable Sixel auto-scrolling, if enabled.
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen_test.cpp
  src/terminal/TerminalState.cpp
  src/terminal/primitives.h
Labels: VT: Backend, frontend, test

#814 fixes dim coloring
  metainfo.xml
  src/terminal/Cell.h
  src/terminal/ColorPalette.cpp
  src/terminal/ColorPalette.h
  test/decoration.sh
Labels: VT: Backend

#815 Improve startup-time by not pre-rasterizing all printable US-ASCII codepoints at once
  metainfo.xml
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
Labels: VT: renderer

#823 Fixes issue for some oversized glyphs.
  metainfo.xml
  src/terminal_renderer/TextRenderer.cpp
  src/text_shaper/open_shaper.cpp
Labels: VT: renderer, fonts

#825 Now moves cursor vertically for sixel newlines even if there is no sixel
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/terminal/Screen.cpp
  src/terminal/Screen_test.cpp
  src/terminal/SixelParser.cpp
  src/terminal/SixelParser_test.cpp
Labels: VT: Backend, frontend, test

#824 revive Ubuntu 20.04 packaging
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/release.yml
  CMakeLists.txt
  src/contour/CMakeLists.txt
Labels: CI, CMake

#828 [Sixel] Updating color palette must also update current pen color.
  metainfo.xml
  src/terminal/SixelParser.cpp
  src/terminal/SixelParser_test.cpp
Labels: VT: Backend, test

#826 Fixes building Contour with Qt 6 on X11 based systems.
  .github/fedora/Dockerfile
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/release.yml
  autogen.sh
  scripts/install-deps.sh
  src/contour/BlurBehind.cpp
  src/contour/CMakeLists.txt
Labels: frontend, CI

#833 Sixel rendering for images that show below but should be rendered above text
  metainfo.xml
  src/terminal_renderer/ImageRenderer.cpp
  src/terminal_renderer/ImageRenderer.h
  src/terminal_renderer/RenderTarget.cpp
  src/terminal_renderer/RenderTarget.h
  src/terminal_renderer/Renderer.cpp
  src/terminal_renderer/TextRenderer.cpp
  src/terminal_renderer/TextRenderer.h
Labels: VT: renderer

#827 Fixes the sixel aspect ratio.
  src/terminal/Screen.cpp
  src/terminal/SixelParser.cpp
  src/terminal/SixelParser.h
  src/terminal/SixelParser_test.cpp
Labels: VT: Backend, test

#830 Adds VT sequence DECSCA, DECSEL, DECSED and DECSERA
  metainfo.xml
  src/terminal/Cell.h
  src/terminal/CellFlags.h
  src/terminal/Functions.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/primitives.h
Labels: VT: Backend, test

#837 Visualize IME preedit text
  metainfo.xml
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/terminal/Line.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
Labels: VT: Backend

#838 Further improve IME handling for correctly reporting cursor position and input size to enable e.g. Kanji input dropdowns from the IME handler.
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/TerminalWidget.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal_renderer/BackgroundRenderer.cpp
  src/terminal_renderer/TextRenderer.cpp
Labels: VT: Backend, frontend, VT: renderer

#839 code health improvements
  .github/workflows/build.yml
  src/contour/Config.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/display/Blur.cpp
  src/contour/display/OpenGLRenderer.cpp
  src/crispy/App.cpp
  src/crispy/App.h
  src/crispy/BufferObject.cpp
  src/crispy/BufferObject.h
  src/crispy/CLI.cpp
  src/crispy/CLI.h
  src/crispy/LRUCache.h
  src/crispy/StackTrace.h
  src/crispy/StrongLRUCache.h
  src/crispy/logstore.h
  src/crispy/range.h
  src/crispy/ring.h
  src/terminal/Capabilities.cpp
  src/terminal/Capabilities.h
  src/terminal/Cell.h
  src/terminal/Charset.h
  src/terminal/GraphicsAttributes.h
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Hyperlink.h
  src/terminal/Image.cpp
  src/terminal/Image.h
  src/terminal/Line.h
  src/terminal/Line_test.cpp
  src/terminal/Metrics.h
  src/terminal/Parser.h
  src/terminal/Process.h
  src/terminal/Process_unix.cpp
  src/terminal/Process_win32.cpp
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.cpp
  src/terminal/Selector.cpp
  src/terminal/Selector.h
  src/terminal/SixelParser.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/Terminal_test.cpp
  src/terminal/VTWriter.cpp
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/terminal_renderer/DecorationRenderer.cpp
  src/terminal_renderer/Pixmap.cpp
  src/terminal_renderer/RenderTarget.cpp
  src/terminal_renderer/RenderTarget.h
  src/terminal_renderer/Renderer.cpp
  src/terminal_renderer/TextRenderer.cpp
  src/text_shaper/directwrite_shaper.cpp
  src/text_shaper/open_shaper.cpp
  src/text_shaper/shaper.cpp
Labels: VT: Backend, frontend, test, CI, VT: renderer, fonts

#829 [GitHub] Adding a pull request template.
  .github/pull_request_template.md
Labels: CI
