Repository contour-terminal/contour, pull requests merged in 2022-06, with the labels that each got.

#709 [terminal_renderer] Fixes rendering of U+E0B2  in pixel-perfect box drawing mode (#707).
  Changelog.md
  src/terminal_renderer/BoxDrawingRenderer.cpp
Labels: documentation, VT: renderer

#712 Resets all empty cells on receiving `GraphicsRendition::Reset`
  src/terminal/Line.cpp
  src/terminal/Line.h
  src/terminal/Terminal.cpp
Labels: VT: Backend

#711 random CI fixes ;-(
  .github/workflows/build.yml
  .github/workflows/checks.yml
  .github/workflows/release.yml
  scripts/install-deps.sh
  src/crispy/StrongHash.h
  src/crispy/StrongLRUHashtable.h
  src/terminal/Color.h
Labels: VT: Backend, CI

#718 [contour] Adds new input action `ToggleInputProtection` to protect terminal application against accidental input (#697).
  Changelog.md
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
Labels: documentation, VT: Backend, frontend

#694 Adds logfile configuration
  Changelog.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/crispy/logstore.h
Labels: documentation, VT: Backend, frontend

#722 tiny utility API enhancements
  src/contour/Config.cpp
  src/crispy/utils.h
  src/crispy/utils_test.cpp
Labels: frontend, test

#723 [terminal] Adds vi motion to move cursor to the current viewport's page top/bottom (inspired by tmux).
  Changelog.md
  src/terminal/ViCommands.cpp
  src/terminal/ViInputHandler.cpp
  src/terminal/ViInputHandler.h
Labels: documentation, VT: Backend

#719 [terminal] adds highlight on yank in vi mode
  Changelog.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/terminal/ColorPalette.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Selector.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/ViCommands.cpp
  src/terminal/ViInputHandler.cpp
  src/terminal/ViInputHandler.h
  src/terminal/primitives.h
Labels: documentation, VT: Backend, frontend

#726 [terminal] Adds VT sequence `XTPUSHCOLORS`, `XTPOPCOLORS` (#714).
  Changelog.md
  src/terminal/Functions.h
  src/terminal/Screen.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.h
  src/terminal/Terminal_test.cpp
Labels: documentation, VT: Backend, test

#727 Fixing remaining compiler warnings.
  .github/workflows/checks.yml
  src/contour/CaptureScreen.cpp
  src/contour/Config.cpp
  src/crispy/CLI.cpp
  src/crispy/StackTrace.cpp
  src/crispy/StrongLRUHashtable.h
  src/terminal/Grid_test.cpp
  src/terminal/InputGenerator.cpp
  src/terminal/Line.h
  src/terminal/Parser-impl.h
  src/terminal/Process_unix.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/SixelParser.cpp
  src/terminal/SixelParser_test.cpp
  src/terminal/Viewport.h
  src/terminal/pty/UnixPty.cpp
  src/terminal_renderer/Renderer.cpp
  src/text_shaper/directwrite_shaper.cpp
Labels: VT: Backend, frontend, test, CI, VT: renderer, fonts

#731 Adds CLI syntax `contour info vt` to print list of supporte VT sequences
  Changelog.md
  src/contour/ContourApp.cpp
  src/contour/ContourApp.h
  src/crispy/escape.h
  src/terminal/Functions.h
  src/terminal/InputGenerator_test.cpp
  src/terminal/Screen.cpp
  src/terminal/VTType.h
Labels: documentation, VT: Backend, frontend, test

#728 Refactor frontend display code in prep-work for better UX (/QML/QtQuick/Tabs!)
  scripts/test.gdb
  src/contour/BlurBehind.cpp
  src/contour/BlurBehind.h
  src/contour/CMakeLists.txt
  src/contour/Config.h
  src/contour/ContourApp.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/ScrollableDisplay.cpp
  src/contour/ScrollableDisplay.h
  src/contour/TerminalDisplay.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/TerminalWindow.cpp
  src/contour/TerminalWindow.h
  src/contour/display/Blur.cpp
  src/contour/display/Blur.h
  src/contour/display/CMakeLists.txt
  src/contour/display/DisplayResources.qrc
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/OpenGLRenderer.h
  src/contour/display/ShaderConfig.cpp
  src/contour/display/ShaderConfig.h
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/display/Vertex.h
  src/contour/display/shaders/background.frag
  src/contour/display/shaders/background.vert
  src/contour/display/shaders/background_image.frag
  src/contour/display/shaders/background_image.vert
  src/contour/display/shaders/blur_gaussian.frag
  src/contour/display/shaders/dual_kawase_down.frag
  src/contour/display/shaders/dual_kawase_up.frag
  src/contour/display/shaders/simple.vert
  src/contour/display/shaders/text.frag
  src/contour/display/shaders/text.vert
  src/contour/helper.cpp
  src/contour/opengl/CMakeLists.txt
Labels: frontend

#735 adds vt sequence `DECPS`
  .github/fedora/contour.spec
  Changelog.md
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.sh
  src/contour/Audio.cpp
  src/contour/Audio.h
  src/contour/CMakeLists.txt
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/crispy/span.h
  src/terminal/Functions.h
  src/terminal/Screen.cpp
  src/terminal/Sequence.h
  src/terminal/Terminal.h
Labels: documentation, VT: Backend, frontend, CI

#745 fix margin passed to `hostWritableStatusLineScreen_`
  src/terminal/Terminal.cpp
Labels: VT: Backend

#744 Trivial line related refactors and an alternative less intrusive fix proposal.
  src/terminal/Line.cpp
  src/terminal/Line.h
  src/terminal/Line_test.cpp
  src/terminal/RenderBuffer.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/VTWriter.cpp
  src/terminal_renderer/BackgroundRenderer.cpp
  src/terminal_renderer/DecorationRenderer.cpp
  src/terminal_renderer/TextRenderer.cpp
Labels: VT: Backend, test, VT: renderer

#746 Resets margin back to original value
  src/terminal/RenderBuffer.h
  src/terminal/Terminal.cpp
Labels: VT: Backend

#749 Removes `fillRemainingCells`, which clears line on `CSI 0m`
  src/terminal/Line.cpp
  src/terminal/Line.h
  src/terminal/Terminal.cpp
Labels: VT: Backend

#747 Remove crispy::span in favor of gsl::span
  src/contour/Audio.cpp
  src/contour/Audio.h
  src/crispy/CMakeLists.txt
  src/crispy/span.h
  src/terminal/Screen.h
Labels: VT: Backend, frontend

#751 Selection snaps to end of line, when it reaches last filled cell
  src/terminal/Terminal.cpp
Labels: VT: Backend

#750 more GUI prep work towards QML/QtQuick and tabs :)
  .clang-format
  src/contour/TerminalWindow.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
Labels: frontend
