Repository contour-terminal/contour, pull requests merged in 2022-08, with the labels that each got.

#771 Drop KDE/KWin dependency on the binary by implementing enabling blur-behind background manually.
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/external_tests.yml
  .github/workflows/release.yml
  CMakeLists.txt
  Changelog.md
  autogen.sh
  debian/control
  debian/rules
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.sh
  src/contour/BlurBehind.cpp
  src/contour/BlurBehind.h
  src/contour/CMakeLists.txt
  src/contour/TerminalSession.cpp
  src/contour/TerminalWindow.cpp
  src/contour/display/TerminalWidget.cpp
Labels: documentation, frontend, CI, CMake

#775 Adds support for HSL colorspace in Sixel images.
  Changelog.md
  src/terminal/SixelParser.cpp
Labels: documentation, VT: Backend

#772 Adds support for blur-behind window on GNOME shell.
  Changelog.md
  src/contour/BlurBehind.cpp
Labels: documentation, frontend, platform: linux

#777 defer PTY (and Process) creation
  Changelog.md
  src/contour/TerminalSession.cpp
  src/terminal/Process.h
  src/terminal/Process_unix.cpp
  src/terminal/pty/ConPty.cpp
  src/terminal/pty/ConPty.h
  src/terminal/pty/LinuxPty.cpp
  src/terminal/pty/LinuxPty.h
  src/terminal/pty/MockPty.cpp
  src/terminal/pty/MockPty.h
  src/terminal/pty/MockViewPty.cpp
  src/terminal/pty/MockViewPty.h
  src/terminal/pty/Pty.h
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
Labels: documentation, VT: Backend, frontend

#782 [terminal] Always show indicator status line when ANSI mode KAM is enabled (which can be toggled via action `ToggleInputProtection`).
  Changelog.md
  src/contour/TerminalSession.cpp
  src/terminal/Process_win32.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.h
  src/terminal/ViCommands.cpp
  src/text_shaper/directwrite_shaper.cpp
  src/text_shaper/directwrite_shaper.h
  src/text_shaper/font_locator_provider.h
Labels: documentation, VT: Backend, frontend, fonts

#785 [terminal] Always show indicator status line when in non-insert mode.
  Changelog.md
  src/terminal/ViCommands.cpp
Labels: documentation, VT: Backend

#788 Fixes missing trival-line inflation in some corner case.
  Changelog.md
  src/terminal/Screen.cpp
Labels: documentation, VT: Backend

#780 Adds `CSI 5m` and `CSI 6m`
  Changelog.md
  src/terminal/Cell.h
  src/terminal/CellFlags.h
  src/terminal/Grid.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/primitives.h
Labels: documentation, VT: Backend

#789 Fixing blur-behind for XCB platforms.
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.sh
  src/contour/BlurBehind.cpp
  src/contour/CMakeLists.txt
Labels: frontend

#791 Fixing master, once and for all.
  src/contour/BlurBehind.cpp
  src/contour/ContourGuiApp.cpp
Labels: frontend

#790 Adds vi-style search mode
  Changelog.md
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/crispy/utils.h
  src/terminal/Cell.h
  src/terminal/Color.h
  src/terminal/ColorPalette.h
  src/terminal/Grid.cpp
  src/terminal/Grid.h
  src/terminal/Line.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Screen_test.cpp
  src/terminal/Selector.cpp
  src/terminal/Selector.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.h
  src/terminal/ViCommands.cpp
  src/terminal/ViCommands.h
  src/terminal/ViInputHandler.cpp
  src/terminal/ViInputHandler.h
  src/terminal/Viewport.h
  src/terminal/primitives.h
Labels: documentation, VT: Backend, frontend, test

#792 prep commits for QML port
  .clang-format
  autogen.sh
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/Viewport.cpp
  src/terminal/Viewport.h
  src/terminal_renderer/Renderer.h
Labels: VT: Backend, VT: renderer

#794 Work around flatpak PTY related bugs
  Changelog.md
  src/terminal/Process.h
  src/terminal/Process_unix.cpp
  src/terminal/Process_win32.cpp
  src/terminal/pty/LinuxPty.cpp
Labels: documentation, VT: Backend

#795 Flatpak: Exposes TERMINFO environment variable pointing to a valid path containing the contour terminfo file.
  Changelog.md
  src/contour/Config.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/terminal/Process_unix.cpp
  src/terminal_renderer/TextRenderer.cpp
Labels: documentation, VT: Backend, frontend, VT: renderer

#797 Adds lines#24 in terminfo file
  Changelog.md
  src/terminal/Capabilities.cpp
Labels: documentation, VT: Backend
