Repository contour-terminal/contour, pull requests merged in 2022-12, with the labels that each got.

#891 Adds ability to highlight same words on double click.
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.h
Labels: enhancement, VT: Backend, frontend

#893 Some cmake related refactors
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/crispy/ImageSize.h
  src/terminal/CMakeLists.txt
  src/terminal/primitives.h
  src/terminal/pty/CMakeLists.txt
  src/terminal/pty/ConPty.cpp
  src/terminal/pty/ConPty.h
  src/terminal/pty/LinuxPty.cpp
  src/terminal/pty/LinuxPty.h
  src/terminal/pty/MockPty.cpp
  src/terminal/pty/MockPty.h
  src/terminal/pty/MockViewPty.cpp
  src/terminal/pty/MockViewPty.h
  src/terminal/pty/PageSize.h
  src/terminal/pty/Process.h
  src/terminal/pty/Process_unix.cpp
  src/terminal/pty/Process_win32.cpp
  src/terminal/pty/Pty.cpp
  src/terminal/pty/Pty.h
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
Labels: VT: Backend, frontend

#894 Move libtrary <terminal/vtpty/...> to <vtpty/...>.
  .clang-format
  src/CMakeLists.txt
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalWindow.cpp
  src/contour/display/TerminalWidget.cpp
  src/terminal/CMakeLists.txt
  src/terminal/MockTerm.cpp
  src/terminal/MockTerm.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/Terminal_test.cpp
  src/terminal/bench-headless.cpp
  src/terminal/primitives.h
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/vtpty/CMakeLists.txt
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
  src/vtpty/LinuxPty.cpp
  src/vtpty/LinuxPty.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockPty.h
  src/vtpty/MockViewPty.cpp
  src/vtpty/MockViewPty.h
  src/vtpty/PageSize.h
  src/vtpty/Process.h
  src/vtpty/Process_unix.cpp
  src/vtpty/Process_win32.cpp
  src/vtpty/Pty.cpp
  src/vtpty/Pty.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
  src/vtpty/UnixUtils.h
Labels: VT: Backend, frontend, test, VT: renderer

#892 Try using std filesystem
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/crispy/stdfs.h
Labels: CI

#887 Handle case when config file is corrupted
  src/contour/Config.cpp
Labels: frontend

#895 Move VT parser into its own <vtparser> library and directory.
  .clang-format
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/external_tests.yml
  .github/workflows/release.yml
  src/CMakeLists.txt
  src/contour/CaptureScreen.cpp
  src/contour/ContourApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalWidget.cpp
  src/crispy/CMakeLists.txt
  src/terminal/CMakeLists.txt
  src/terminal/Functions_test.cpp
  src/terminal/Grid_test.cpp
  src/terminal/Screen.cpp
  src/terminal/Screen.h
  src/terminal/Sequence.h
  src/terminal/Sequencer.h
  src/terminal/SixelParser.h
  src/terminal/TerminalState.h
  src/terminal/logging.h
  src/terminal_renderer/Pixmap.h
  src/vtparser/CMakeLists.txt
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.cpp
  src/vtparser/Parser.h
  src/vtparser/ParserEvents.h
  src/vtparser/ParserExtension.h
  src/vtparser/Parser_test.cpp
  src/vtparser/test_main.cpp
Labels: VT: Backend, frontend, test, CI, VT: renderer, code health

#898 Improves highlight search matching to also work on trivial line buffers (by promoting them on-demand to inflated line buffers).
  src/terminal/Grid.h
  src/terminal/RenderBufferBuilder.h
  src/terminal/Screen.h
  src/terminal/Terminal.cpp
  src/terminal/primitives.h
Labels: VT: Backend

#899 Rename terminal_renderer to vtrasterizer
  .clang-format
  .github/labeler.yml
  cmake/PedanticCompiler.cmake
  docs/internals/index.md
  src/CMakeLists.txt
  src/contour/CMakeLists.txt
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/CMakeLists.txt
  src/contour/display/DisplayResources.qrc
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/OpenGLRenderer.h
  src/contour/display/ShaderConfig.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/terminal/RenderBuffer.h
  src/vtrasterizer/BackgroundRenderer.cpp
  src/vtrasterizer/BackgroundRenderer.h
  src/vtrasterizer/BoxDrawingRenderer.cpp
  src/vtrasterizer/BoxDrawingRenderer.h
  src/vtrasterizer/CMakeLists.txt
  src/vtrasterizer/CursorRenderer.cpp
  src/vtrasterizer/CursorRenderer.h
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/DecorationRenderer.h
  src/vtrasterizer/Decorator.h
  src/vtrasterizer/FontDescriptions.h
  src/vtrasterizer/GridMetrics.h
  src/vtrasterizer/ImageRenderer.cpp
  src/vtrasterizer/ImageRenderer.h
  src/vtrasterizer/Pixmap.cpp
  src/vtrasterizer/Pixmap.h
  src/vtrasterizer/RenderTarget.cpp
  src/vtrasterizer/RenderTarget.h
  src/vtrasterizer/Renderer.cpp
  src/vtrasterizer/Renderer.h
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/TextRenderer.h
  src/vtrasterizer/TextureAtlas.h
  src/vtrasterizer/shared_defines.h
  src/vtrasterizer/utils.cpp
  src/vtrasterizer/utils.h
Labels: documentation, VT: Backend, frontend, CI, CMake

#900 Fixes compiler declaration warnings (-Wmissing-declarations).
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/display/Blur.cpp
  src/contour/display/TerminalWidget.cpp
Labels: frontend

#882 VT extension: passive mouse reporting & text selection reporting
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/watch-mouse-events.cpp
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/terminal/InputGenerator.cpp
  src/terminal/InputGenerator.h
  src/terminal/Screen.cpp
  src/terminal/Selector.cpp
  src/terminal/Selector.h
  src/terminal/Selector_test.cpp
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/TerminalState.cpp
  src/terminal/ViCommands.cpp
  src/terminal/primitives.h
Labels: VT: Backend, frontend, test, CMake

#902 Don't move cursor when setting top,bottom,left and right margins.
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, test

#903 Fixes default config entry `draw_bold_text_with_bright_colors` (renamed from `bold_is_bright`).
  metainfo.xml
  src/contour/contour.yml
  src/vtbackend/ColorPalette.h
Labels: VT: Backend

#905 Adds color scheme key `indicator_statusline.foreground` and `indicator_statusline.background` to customize indicator statusline colors.
  metainfo.xml
  src/contour/Config.cpp
  src/contour/contour.yml
  src/vtbackend/ColorPalette.h
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, frontend

#907 [vtbackend] Adds clock to indicator status line.
  metainfo.xml
  src/contour/display/TerminalWidget.cpp
  src/vtbackend/Terminal.cpp
Labels: VT: Backend

#908 Adds current viewport position in scrollback buffer to indicator status line
  metainfo.xml
  src/vtbackend/Terminal.cpp
Labels: VT: Backend

#912 Fix of resize when next line is trivial
  src/vtbackend/Grid.cpp
Labels: VT: Backend

#913 Adds optional parameter `strip` to PasteClipboard configuration action
  metainfo.xml
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/crispy/CMakeLists.txt
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Terminal.h
  src/vtbackend/ViCommands.cpp
Labels: enhancement, VT: Backend, frontend

#914 [vtbackend] Fixes VT sequences `RIS` and action `ClearHistoryAndReset…
  metainfo.xml
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.cpp
  src/vtbackend/TerminalState.h
Labels: VT: Backend

#915 Refactor terminal settings / factory settings (code cleanup)
  .github/workflows/checks.yml
  docs/configuration/advanced/images.md
  src/contour/CaptureScreen.cpp
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/crispy/StrongLRUHashtable.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Functions.h
  src/vtbackend/Line.h
  src/vtbackend/MockTerm.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Settings.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.cpp
  src/vtbackend/TerminalState.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.h
  src/vtbackend/Viewport.h
  src/vtpty/MockPty.h
  src/vtrasterizer/Renderer.cpp
Labels: documentation, VT: Backend, frontend, test, CI, VT: rasterizer

#919 Fixes applying wrong page size to main display.
  src/vtbackend/Terminal.cpp
Labels: VT: Backend

#918 Fix/column number
  src/contour/display/TerminalWidget.cpp
Labels: VT: Backend

#920 Don't go past the end of terminal screen in vim mode.
  metainfo.xml
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend

#922 improve hard-reset (also restore initial statusline display state)
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/ColorPalette.cpp
  src/vtbackend/ColorPalette.h
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, frontend

#923 [CI] Adds check against .editorconfig.
  .ecrc
  .editorconfig
  .github/workflows/checks.yml
  metainfo.xml
  scripts/install-deps.sh
  test/fill-screen.sh
  test/origin-mode-and-margins.sh
Labels: CI

#924 Fixes mouse selection not working while statusline is shown
  metainfo.xml
  src/vtbackend/Terminal.cpp
Labels: VT: Backend

#925 Improves `$` motion in vi-like normal mode to point to the last non-empty grid cell in the current line.
  metainfo.xml
  src/vtbackend/Grid.h
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend

#931 typo fixes in default config
  src/contour/contour.yml
Labels: documentation, frontend, code health

#932 Fixes packaging for Qt6-based builds (e.g. affects Ubuntu 22.04).
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
Labels: CI, build, platform: linux

#934 Fixes failing startup due to `background_image.path` pointing to a non-existing file
  metainfo.xml
  src/contour/Config.cpp
Labels: frontend

#935 Allow colorizing the indicator status line differently when TE is not in focus.
  metainfo.xml
  src/contour/Config.cpp
  src/contour/contour.yml
  src/vtbackend/ColorPalette.h
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, frontend

#941 Fixes loading TTC font files not honor which face to load within the collection (#939).
  metainfo.xml
  src/text_shaper/font_locator.h
  src/text_shaper/fontconfig_locator.cpp
  src/text_shaper/open_shaper.cpp
Labels: fonts

#943 prep-work for supporting different formats when copying selection to clipboard.
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/text_shaper/fontconfig_locator.cpp
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/RenderBufferBuilder.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend, fonts

#947 A linefeed should scollup with same graphics attributes as the cursor.
  metainfo.xml
  src/vtbackend/Screen.cpp
Labels: VT: Backend

#948 [contour] Fixes `initial_working_directory` setting being ignored.
  metainfo.xml
  src/contour/Config.cpp
Labels: frontend

#944 [CI] Build against Qt6 by default on Windows and OS/X.
  .github/workflows/build.yml
  .github/workflows/release.yml
  cmake/DeployQt.cmake
  src/contour/CMakeLists.txt
  src/contour/Config.cpp
Labels: frontend, CI, CMake

#952 refactors as prep-work to upcoming trace mode
  src/contour/display/TerminalWidget.cpp
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.cpp
  src/vtbackend/TerminalState.h
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend, test, code health

#950 Fix rendering in some corner cases
  metainfo.xml
  src/vtrasterizer/CursorRenderer.cpp
  src/vtrasterizer/DecorationRenderer.cpp
Labels: VT: rasterizer

#953 Initial implementation of a custom execution mode to interactively trace through the VT sequences.
  metainfo.xml
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/vtbackend/ControlCode.h
  src/vtbackend/MatchModes.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Sequence.cpp
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.h
  src/vtbackend/primitives.h
Labels: VT: Backend, frontend

#954 Default to requiring Qt 6 on some platforms (OS/X, Windows, FreeBSD, Arch Linux).
  .github/workflows/build.yml
  autogen.sh
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
Labels: CI

#957 CI: Fixes OS/X packaging.
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
Labels: CI

#962 identifier naming cleanup and a little more clang-tidy happiness
  src/.clang-tidy
  src/contour/ContourApp.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/crispy/.clang-tidy
  src/crispy/App.cpp
  src/crispy/App.h
  src/crispy/CLI.cpp
  src/crispy/CLI.h
  src/crispy/ImageSize.h
  src/crispy/LRUCache.h
  src/crispy/LRUCache_test.cpp
  src/crispy/StackTrace.cpp
  src/crispy/StackTrace.h
  src/crispy/StrongHash.h
  src/crispy/StrongLRUCache.h
  src/crispy/StrongLRUHashtable.h
  src/crispy/assert.h
  src/crispy/base64.h
  src/crispy/boxed.h
  src/crispy/deferred.h
  src/crispy/escape.h
  src/crispy/indexed.h
  src/crispy/logstore.h
  src/crispy/overloaded.h
  src/crispy/sort.h
  src/text_shaper/.clang-tidy
  src/text_shaper/font.cpp
  src/text_shaper/font.h
  src/text_shaper/fontconfig_locator.cpp
  src/text_shaper/mock_font_locator.cpp
  src/text_shaper/mock_font_locator.h
  src/text_shaper/open_shaper.cpp
  src/text_shaper/open_shaper.h
  src/text_shaper/shaper.cpp
  src/text_shaper/shaper.h
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid.h
  src/vtbackend/Terminal.cpp
  src/vtrasterizer/BoxDrawingRenderer.cpp
Labels: VT: Backend, frontend, test, VT: rasterizer, fonts, code health
