Repository contour-terminal/contour, pull requests merged in 2022-07, with the labels that each got.

#755 Fixing text cursor coloring along with some code cleanups.
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/helper.cpp
  src/terminal/Cell.h
  src/terminal/Color.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/RenderBufferBuilder.h
Labels: VT: Backend, frontend

#756 improved selection colors
  Changelog.md
  src/contour/Config.cpp
  src/contour/contour.yml
  src/terminal/Color.h
  src/terminal/ColorPalette.h
  src/terminal/RenderBufferBuilder.cpp
  src/terminal/Screen.cpp
  src/terminal/primitives.h
Labels: documentation, VT: Backend, frontend

#754 Normalizes `\r\n` and `\r` from clipboard to `\n` for non windows platforms
  src/contour/TerminalSession.cpp
Labels: frontend

#757 Inverting rendering coordinate system's Y-axis.
  Changelog.md
  src/contour/display/OpenGLRenderer.cpp
  src/terminal_renderer/BackgroundRenderer.cpp
  src/terminal_renderer/BoxDrawingRenderer.cpp
  src/terminal_renderer/DecorationRenderer.cpp
  src/terminal_renderer/GridMetrics.h
  src/terminal_renderer/TextRenderer.cpp
  src/text_shaper/directwrite_shaper.cpp
  src/text_shaper/open_shaper.cpp
Labels: documentation, VT: renderer, fonts, code health

#759 Keep working directory same when new terminal is spawned
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
Labels: VT: Backend, frontend

#763 Adds vim-like `scrolloff` feature to normal/visual mode cursor movements.
  Changelog.md
  README.md
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/terminal/Viewport.cpp
  src/terminal/Viewport.h
Labels: documentation, VT: Backend, frontend

#767 Applying some tweaks with regards to Flatpak and AppStream (XML) recommendations.
  Changelog.md
  cmake/FilesystemResolver.cmake
  src/contour/CMakeLists.txt
  src/contour/contour.desktop
  src/contour/metainfo.xml
Labels: documentation, CMake

#765 [contour] Fixes logging file toggle
  Changelog.md
  src/contour/Config.cpp
Labels: documentation, frontend
