Repository contour-terminal/contour, pull requests merged in 2022-03, with the labels that each got.

#617 [Github CI] Adds GCC/Clang build test matrix using Ubuntu Linux 20.04.
  .github/workflows/build.yml
  autogen.sh
  src/terminal/Parser.h
  src/terminal/Sequencer.cpp
Labels: VT: Backend, CI

#619 [Github CI] bump freebsd-vm action from 0.1.5 to 0.1.6
  .github/workflows/build.yml
Labels: CI

#616 [contour] Fixes initial window size on Ubuntu 18.04 (/old Qt).
  src/contour/opengl/TerminalWidget.cpp
  src/contour/opengl/TerminalWidget.h
Labels: OpenGL

#607 Initial webpage-friendly documentation rework.
  .github/workflows/external_tests.yml
  README.md
  docs/CNAME
  docs/configuration/advanced/images.md
  docs/configuration/advanced/misc.md
  docs/configuration/advanced/mouse.md
  docs/configuration/advanced/renderer.md
  docs/configuration/index.md
  docs/configuration/profiles.md
  docs/configuration/theming.md
  docs/drafts/daemon-mode.md
  docs/drafts/grid-redesign.md
  docs/drafts/terminal-emulators.md
  docs/features.md
  docs/internals/CODING_STYLE.md
  docs/internals/index.md
  docs/internals/text-stack.md
  docs/screenshots/contour-notcurses-ncneofetch.png
  docs/screenshots/contour-screenshots-0.1.0-pre2.png
  docs/screenshots/contour-win32-acrylic-background.png
Labels: documentation, CI

#621 (#620) Fix white border bug
  src/contour/ScrollableDisplay.cpp
Labels: frontend

#615 Adds an option to hide title bar
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalDisplay.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalWindow.cpp
  src/contour/contour.yml
  src/contour/opengl/TerminalWidget.cpp
  src/contour/opengl/TerminalWidget.h
Labels: frontend, OpenGL

#623 Thirdparties: fix finding HarfBuzz
  cmake/ContourThirdParties.cmake
  cmake/FindHarfBuzz.cmake
  cmake/FindHarfbuzz.cmake
Labels: CMake

#625 Drop build-time option to embed Harfbuzz+FreeType.
  .github/workflows/build.yml
  CMakeLists.txt
  scripts/install-deps.sh
  src/text_shaper/CMakeLists.txt
Labels: CI, CMake
