Repository contour-terminal/contour, pull requests merged in 2022-11, with the labels that each got.

#868 Fixes restoring the cursor visibility after leaving alternate screen when application wasn't restoring mode switches in reverse order.
  metainfo.xml
  src/terminal/Terminal.h
  src/terminal/TerminalState.h
Labels: VT: Backend

#874 Updating libunicode dependency to 0.2.0.
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/terminal_renderer/TextRenderer.cpp
  src/text_shaper/open_shaper.cpp
Labels: VT: renderer, fonts

#875 [Github CI] Disable copyback for FreeBSD action. Trying to fix CI.
  .github/workflows/build.yml
Labels: CI

#876 Fixes cursor movement over wide characters in normal mode.
  metainfo.xml
  src/terminal/Line.h
  src/terminal/ViCommands.cpp
Labels: VT: Backend

#851 Preserve TrivialLineBuffer on grid resize
  src/terminal/Grid.cpp
  src/terminal/Grid_test.cpp
  src/terminal/Line.cpp
  src/terminal/Line_test.cpp
Labels: VT: Backend, test

#879 [crispy] BufferObject API refactored to be templated over element type T (e.g. char).
  src/crispy/BufferObject.cpp
  src/crispy/BufferObject.h
  src/terminal/Grid_test.cpp
  src/terminal/Line.h
  src/terminal/Line_test.cpp
  src/terminal/Parser.cpp
  src/terminal/Parser.h
  src/terminal/Process.h
  src/terminal/Terminal.cpp
  src/terminal/Terminal.h
  src/terminal/bench-headless.cpp
  src/terminal/pty/ConPty.cpp
  src/terminal/pty/ConPty.h
  src/terminal/pty/LinuxPty.cpp
  src/terminal/pty/LinuxPty.h
  src/terminal/pty/MockPty.cpp
  src/terminal/pty/MockPty.h
  src/terminal/pty/MockViewPty.cpp
  src/terminal/pty/MockViewPty.h
  src/terminal/pty/Pty.h
  src/terminal/pty/UnixPty.cpp
  src/terminal/pty/UnixPty.h
Labels: VT: Backend, test

#880 Fixes normal mode's page top (S-H)/ page bottom (S-L) cursor movements to respect scrolloff.
  metainfo.xml
  src/terminal/ViCommands.cpp
  src/terminal/Viewport.h
Labels: VT: Backend

#881 Adds an initial CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#884 Fixes Alt+Backspace on OS/X.
  metainfo.xml
  src/contour/helper.cpp
Labels: frontend

#888 Enable use of stdfs on OS/X rather than depending on boost.
  cmake/FilesystemResolver.cmake
  scripts/install-deps.sh
  src/crispy/stdfs.h
Labels: CMake
