Repository contour-terminal/contour, pull requests merged in 2023-08, with the labels that each got.

#1156 Fix scrollbar hidden state
  src/contour/TerminalSession.h
  src/contour/ui.template/Terminal.qml.in
Labels: frontend

#1148 Add documentation about IME
  docs/demo/ime.md
  docs/demo/ime/demo_ime.mp4
  docs/demo/ime/pinyin_ime.mp4
  docs/requirements.txt
  mkdocs.yml
Labels: documentation

#1160 Fixes GUI infinite loop on PTY closing faster than GUI initialization period
  .github/workflows/build.yml
  scripts/ci/Xvfb-contour-run.sh
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
  src/vtpty/LinuxPty.cpp
  src/vtpty/LinuxPty.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockPty.h
  src/vtpty/MockViewPty.cpp
  src/vtpty/MockViewPty.h
  src/vtpty/Process.h
  src/vtpty/Pty.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
  src/vtpty/UnixUtils.h
Labels: VT: Backend, CI

#1166 Move UnixPipe to UnixUtils.h and also add UnixUtils.cpp
  src/vtpty/CMakeLists.txt
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
  src/vtpty/UnixUtils.cpp
  src/vtpty/UnixUtils.h
Labels: VT: Backend

#1168 Remove a lot of code duplication in UnixPty vs LinuxPty by introducing `crispy::read_selector` API
  src/crispy/read_selector.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtpty/CMakeLists.txt
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
  src/vtpty/LinuxPty.cpp
  src/vtpty/LinuxPty.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockPty.h
  src/vtpty/MockViewPty.cpp
  src/vtpty/MockViewPty.h
  src/vtpty/Process.h
  src/vtpty/Process_unix.cpp
  src/vtpty/Pty.cpp
  src/vtpty/Pty.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
Labels: VT: Backend

#1159 Makes the bell silent
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/contour.yml
  src/contour/ui.template/Terminal.qml.in
Labels: documentation, frontend

#1171 Switch from crispy::boxed to boxed::boxed
  cmake/ContourThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/helper.cpp
  src/crispy/CMakeLists.txt
  src/crispy/ImageSize.h
  src/crispy/boxed.h
  src/text_shaper/CMakeLists.txt
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid.h
  src/vtbackend/Grid_test.cpp
  src/vtbackend/Hyperlink.h
  src/vtbackend/Image.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Sequence.h
  src/vtbackend/SixelParser.cpp
  src/vtbackend/Viewport.h
  src/vtbackend/primitives.h
  src/vtpty/PageSize.h
  src/vtpty/Pty.h
  src/vtrasterizer/BoxDrawingRenderer.cpp
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/TextureAtlas.h
Labels: VT: Backend, frontend, test, VT: rasterizer, CMake

#1172 Prefixes file path with `file:` to fix bell in release build
  src/contour/Config.cpp
Labels: frontend

#1174 Drop last bits of boost library uses
  CMakeLists.txt
  cmake/FilesystemResolver.cmake
  cmake/cincludeme/CMakeLists.txt
  cmake/cincludeme/cincludeme.cpp
  src/contour/CMakeLists.txt
  src/crispy/CMakeLists.txt
  src/crispy/stdfs.h
  src/vtbackend/CMakeLists.txt
Labels: CMake

#1175 Drop <crispy/stdfs.h> in favor of <filesystem>
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourApp.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/TerminalWidget.cpp
  src/crispy/App.cpp
  src/crispy/App.h
  src/crispy/CMakeLists.txt
  src/crispy/stdfs.h
  src/crispy/utils.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Terminal.cpp
  src/vtpty/Process.h
  src/vtpty/Process_unix.cpp
  src/vtpty/Process_win32.cpp
  src/vtrasterizer/RenderTarget.h
Labels: VT: Backend, frontend, VT: rasterizer

#1179 Update link to point to our aur file
  README.md
  docs/install.md
Labels: documentation

#1176 naming convention fixes in frontend
  examples/watch-mouse-events.cpp
  src/contour/.clang-tidy
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Audio.cpp
  src/contour/Audio.h
  src/contour/BlurBehind.cpp
  src/contour/BlurBehind.h
  src/contour/CaptureScreen.cpp
  src/contour/CaptureScreen.h
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourApp.cpp
  src/contour/ContourApp.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/Blur.cpp
  src/contour/display/Blur.h
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/OpenGLRenderer.h
  src/contour/display/ShaderConfig.cpp
  src/contour/display/ShaderConfig.h
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/display/Vertex.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/text_shaper/font.h
  src/vtbackend/SixelParser.cpp
Labels: VT: Backend, frontend, fonts

#1180 Build CI with C++20 minimum
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

#1181 Action to check package for Ubuntu
  .github/workflows/build.yml
Labels: CI

#1183 Fixes bold_italic front not inheriting from regular
  src/contour/Config.cpp
Labels: frontend

#1185 Fixes bad use of fmtlib to also satisfy MSVC build
  src/contour/Actions.h
  src/crispy/ImageSize.h
  src/crispy/StrongLRUHashtable.h
  src/crispy/logstore.h
  src/crispy/point.h
  src/text_shaper/directwrite_shaper.cpp
  src/text_shaper/font.h
  src/text_shaper/font_locator.h
  src/text_shaper/shaper.h
  src/vtbackend/Functions.h
  src/vtbackend/Image.h
  src/vtbackend/Terminal.h
  src/vtrasterizer/RenderTarget.h
  src/vtrasterizer/TextureAtlas.h
Labels: VT: Backend, frontend, VT: rasterizer, fonts
