Repository contour-terminal/contour, pull requests merged in 2023-02, with the labels that each got.

#1024 Fixes `SendChars` input acion to actually send the chars as-is to the standard input of the connected application.
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend, blocker:office

#1027 Documentation on mapping backspace to various chars
  docs/configuration/advanced/misc.md
Labels: documentation

#1028 Allow building Contour on platforms not supporting hardware crypto extension (AES-NI)
  metainfo.xml
  src/contour/Config.h
  src/crispy/CMakeLists.txt
  src/crispy/StrongHash.h
  src/crispy/StrongLRUCache.h
  src/crispy/StrongLRUCache_test.cpp
  src/crispy/StrongLRUHashtable.h
  src/vtbackend/Screen.h
Labels: VT: Backend, frontend, test

#1029 Provide explicit implementation for AES-NI and related intrinsics using own API.
  .github/workflows/checks.yml
  src/crispy/CMakeLists.txt
  src/crispy/Intrinsics.h
  src/crispy/StrongHash.h
  src/sse2neon/README.md
  src/sse2neon/sse2neon.h
Labels: documentation, CI

#1030 Remove apt update in ci
  .github/workflows/build.yml
Labels: CI

#1031 Reworks initiating mouse selection in alt-screen mode.
  metainfo.xml
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend

#1032 Fixes mouse selection within scrolloff setting to not cause the viewport to jump anymore
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/Viewport.cpp
  src/vtbackend/Viewport.h
Labels: VT: Backend, frontend

#1033 deleted the remaining 'apt updates'
  .github/workflows/codechecker-analysis.yml
  .github/workflows/release.yml
Labels: CI

#1038 [vtbackend] VtInputHandler: Fixes vi-like motion `t{space}`.
  metainfo.xml
  src/vtbackend/ViCommands_test.cpp
  src/vtbackend/ViInputHandler.cpp
Labels: VT: Backend, test, vi-mode

#1039 Fixes PasteSelection on mouse middle-click not working
  src/contour/TerminalSession.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal_test.cpp
Labels: VT: Backend, frontend, test

#1041 [contour] Adds shell integration for tcsh shell.
  metainfo.xml
  src/contour/ContourApp.cpp
  src/contour/resources.qrc
  src/contour/shell-integration/shell-integration.tcsh
Labels: frontend

#1048 Configuration info and yml update
  README.md
  docs/contour.schema.json
  src/contour/contour.yml
Labels: documentation

#1052 Update libunicode to latest master and enable building against system installed libunicode.
  cmake/ContourThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/crispy/CMakeLists.txt
  src/text_shaper/CMakeLists.txt
  src/text_shaper/font.h
  src/text_shaper/open_shaper.cpp
  src/text_shaper/shaper.h
  src/vtbackend/CMakeLists.txt
  src/vtbackend/CellUtil.h
  src/vtbackend/Grid.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/Line.cpp
  src/vtbackend/Line.h
  src/vtbackend/MockTerm.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Sequencer.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/TerminalState.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/VTWriter.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/cell/SimpleCell.h
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.h
  src/vtparser/Parser_test.cpp
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/TextRenderer.h
Labels: VT: Backend, test, VT: rasterizer, fonts, CMake

#1051 fix: take into account the status line height when rendering sixels.
  metainfo.xml
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtrasterizer/Renderer.cpp
Labels: VT: Backend, test, VT: rasterizer

#1053 Allow building the project without bench-headless binary nor requiring termbench-pro dependency
  .github/workflows/build.yml
  autogen.sh
  cmake/ContourThirdParties.cmake
  src/vtbackend/CMakeLists.txt
Labels: CI, CMake

#1044 Fixes scroll up when infinite history limit set, by allocating more
  metainfo.xml
  src/crispy/times.h
  src/vtbackend/Grid.cpp
Labels: VT: Backend

#1055 Update install-deps.sh script
  .github/workflows/build.yml
  scripts/install-deps.sh
Labels: CI

#1056 Attempt to fix relocation error that happens on Fedora 39.
  .github/workflows/external_tests.yml
  src/contour/display/CMakeLists.txt
  src/crispy/CMakeLists.txt
  src/crispy/logstore.cpp
  src/crispy/logstore.h
Labels: CI
