Repository contour-terminal/contour, pull requests merged in 2023-10, with the labels that each got.

#1211 Check both ubuntu packages for startup
  .github/workflows/build.yml
  scripts/ci/Xvfb-contour-run.sh
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/ui.template/Terminal.qml.in
Labels: CI

#1230 Fixes VT sequence ED (CSI J) when performed at the bottom line in alt screen
  metainfo.xml
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
Labels: VT: Backend, test

#1231 Match speeds for DECSSCLS as defined by old DEC VT1xx and VT2xx terminals
  src/vtbackend/Screen.cpp
Labels: VT: Backend

#1234 Fix infinite loop when next line does not exist
  metainfo.xml
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend

#1232 [vtbackend] Improve code quality with help of clang-tidy
  src/vtbackend/Capabilities.h
  src/vtbackend/Color.cpp
  src/vtbackend/Color.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Functions.h
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid.h
  src/vtbackend/Grid_test.cpp
  src/vtbackend/Hyperlink.h
  src/vtbackend/Image.cpp
  src/vtbackend/Image.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/Line.h
  src/vtbackend/Metrics.h
  src/vtbackend/MockTerm.cpp
  src/vtbackend/RenderBuffer.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/RenderBufferBuilder.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Sequence.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/VTWriter.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
  src/vtbackend/Viewport.cpp
  src/vtbackend/Viewport.h
  src/vtbackend/test_helpers.h
Labels: VT: Backend, test

#1235 Check naming of class/struct members
  src/.clang-tidy
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/display/Blur.cpp
  src/contour/display/Blur.h
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/helper.h
  src/crispy/read_selector.h
  src/text_shaper/directwrite_shaper.cpp
  src/text_shaper/font.h
  src/text_shaper/fontconfig_locator.cpp
  src/text_shaper/mock_font_locator.cpp
  src/text_shaper/open_shaper.cpp
  src/vtrasterizer/Renderer.cpp
Labels: frontend, VT: rasterizer, fonts

#1245 feat: Add OpenSelection action, and honor case in the configuration bindings
  metainfo.xml
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
Labels: frontend

#1233 Use color scheme based on OS system dark/light mode preferences
  .clang-format
  .gitignore
  docs/configuration/profiles.md
  docs/vt-extensions/color-palette-update-notifications.md
  metainfo.xml
  mkdocs.yml
  src/contour/CMakeLists.txt
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/contour.yml
  src/contour/display/TerminalWidget.cpp
  src/vtbackend/ColorPalette.h
  src/vtbackend/Functions.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.cpp
  src/vtbackend/VTWriter.h
  src/vtbackend/primitives.h
Labels: documentation, VT: Backend, frontend

#1248 Adds test case for DSR (Color Palette Updated) and fix missing reverse translation
  src/vtbackend/MockTerm.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, test

#1251 feat: Enable window alert on terminal bells
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/contour/ui.template/Terminal.qml.in
Labels: documentation, frontend

#1252 Adds support vor horizontal mouse scrolling event reporting sequences
  metainfo.xml
  src/contour/helper.cpp
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
Labels: VT: Backend, frontend

#1259 minor keyboard input changes: adding more key mappings in preparation to future work
  metainfo.xml
  src/contour/Config.cpp
  src/contour/helper.cpp
  src/crispy/flags.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
Labels: VT: Backend, frontend, test

#1260 Add dependency for gui action
  .github/workflows/build.yml
Labels: CI

#1250 Refactor keyboard input handling
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/MockTerm.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/ViCommands_test.cpp
Labels: VT: Backend, frontend, test

#1264 Move config errors in config log
  src/contour/Config.cpp
  src/vtbackend/InputGenerator.cpp
Labels: VT: Backend, frontend

#1263 Migrate from std::reference_wrapper to gsl::not_null
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtrasterizer/Renderer.cpp
  src/vtrasterizer/Renderer.h
Labels: VT: Backend, VT: rasterizer

#1269 fix(readme): correct windows git clone command
  README.md
Labels: documentation

#1261 Add Keyboard protocol extension `CSI u`
  docs/vt-extensions/csi-u-extended-keyboard-protocol.md
  metainfo.xml
  mkdocs.yml
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/crispy/flags.h
  src/vtbackend/Functions.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/MockTerm.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: documentation, VT: Backend, frontend, test

#1256 Initial atempts to fix bug with current screen being indicator status
  src/contour/Actions.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Viewport.cpp
  src/vtbackend/Viewport.h
Labels: VT: Backend, frontend

#1272 Various fixes that lately broke master
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/ViInputHandler.cpp
Labels: VT: Backend

#1274 [vtbackend] Moves the vi-like cursor with the viewport when scrolling up/down
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/Viewport.cpp
  src/vtbackend/Viewport.h
Labels: VT: Backend, frontend

#1275 Fix printing over 2nd cell in wide character should delete wide character
  metainfo.xml
  src/vtbackend/CellFlags.h
  src/vtbackend/GraphicsAttributes.h
  src/vtbackend/Grid.cpp
  src/vtbackend/Line.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/cell/SimpleCell.h
Labels: VT: Backend, test

#1277 Split CI artifacts per OS-release
  .github/workflows/build.yml
Labels: CI

#1280 Cleanup header includes and add header include checker to CI
  .clang-format
  .github/workflows/checks.yml
  scripts/check-includes.sh
  src/contour/Actions.cpp
  src/contour/BlurBehind.cpp
  src/crispy/BufferObject.cpp
  src/crispy/CLI.cpp
  src/crispy/StackTrace.cpp
  src/crispy/StrongLRUHashtable.h
  src/text_shaper/open_shaper.cpp
  src/text_shaper/shaper.h
  src/vtbackend/Grid.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/Line.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Sequencer.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/TerminalState.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/VTWriter.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/cell/SimpleCell.h
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.h
  src/vtparser/Parser_test.cpp
  src/vtpty/ConPty.cpp
  src/vtrasterizer/Renderer.h
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/TextRenderer.h
Labels: VT: Backend, frontend, test, CI, VT: rasterizer, fonts

#1284 Fix download-artifact name
  .github/workflows/build.yml
Labels: CI

#1221 Initial bits to auto-document VT sequences
  src/contour/ContourApp.cpp
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Functions.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Viewport.cpp
  src/vtbackend/doc-tool.cpp
Labels: VT: Backend, frontend

#1288 Make github actions faster for PRs
  .github/workflows/build.yml
Labels: CI

#1290 Some minor fixes and updates
  scripts/install-deps.sh
  src/crispy/read_selector.h
Labels: VT: Backend

#1294 Fix PTY reads on MacOS and FreeBSD
  src/contour/TerminalSession.cpp
  src/crispy/read_selector.h
  src/vtbackend/Terminal.cpp
  src/vtpty/UnixPty.cpp
Labels: VT: Backend, frontend

#1295 Fix error with out of bounds access
  src/vtbackend/SixelParser.cpp
Labels: VT: Backend

#1297 Add safe file descriptor API
  src/crispy/CMakeLists.txt
  src/crispy/file_descriptor.h
  src/crispy/read_selector.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
Labels: VT: Backend

#1298 Fix waiting on early shell exit and some minor CI improvements
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/checks.yml
  src/contour/TerminalSession.cpp
Labels: frontend, CI

#1296 Fix a few typos in README.md
  README.md
Labels: documentation

#1301 fix to build with boxed-cpp
  .github/workflows/build.yml
  cmake/ContourThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/crispy/CMakeLists.txt
  src/text_shaper/CMakeLists.txt
Labels: CI, CMake

#1304 Update to latest libunicode
  .github/fedora/contour.spec
  .github/ubuntu18/Dockerfile
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/ContourThirdParties.cmake
  scripts/ci-prepare-contour.sh
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/crispy/BufferObject_test.cpp
  src/crispy/CLI_test.cpp
  src/crispy/CMakeLists.txt
  src/crispy/LRUCache_test.cpp
  src/crispy/Size_test.cpp
  src/crispy/StrongLRUCache_test.cpp
  src/crispy/StrongLRUHashtable_test.cpp
  src/crispy/TrieMap_test.cpp
  src/crispy/base64_test.cpp
  src/crispy/compose_test.cpp
  src/crispy/indexed_test.cpp
  src/crispy/ring_test.cpp
  src/crispy/sort_test.cpp
  src/crispy/test_main.cpp
  src/crispy/times_test.cpp
  src/crispy/utils_test.cpp
  src/text_shaper/CMakeLists.txt
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Capabilities_test.cpp
  src/vtbackend/Color_test.cpp
  src/vtbackend/Functions_test.cpp
  src/vtbackend/Grid_test.cpp
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/Line_test.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Selector_test.cpp
  src/vtbackend/Sequence_test.cpp
  src/vtbackend/SixelParser_test.cpp
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/ViCommands_test.cpp
  src/vtbackend/test_helpers.h
  src/vtbackend/test_main.cpp
  src/vtparser/CMakeLists.txt
  src/vtparser/Parser-impl.h
  src/vtparser/Parser_test.cpp
  src/vtparser/test_main.cpp
Labels: VT: Backend, test, CI, CMake

#1306 Fixes font resize causing window to resize
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/helper.cpp
  src/contour/ui.template/Terminal.qml.in
Labels: frontend

#1308 Rename TerminalWidget to TerminalDisplay
  .github/workflows/changelog.yml
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/CMakeLists.txt
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
  src/contour/helper.cpp
Labels: frontend, CI, no changelog

#1313 Fix some Qt/OpenGL related problems
  .github/workflows/changelog.yml
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/contour/TerminalSessionManager.cpp
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/OpenGLRenderer.h
  src/contour/helper.h
Labels: frontend, CI

#1314 Dont force redraw on hard reset for status line
  src/contour/TerminalSession.cpp
Labels: VT: Backend, frontend, no changelog

#1310 Fix Ubuntu 22.04 Clang build, breaking all out of the sudden
  .github/workflows/build.yml
Labels: CI, no changelog

#1315 Fixes terminal session not being terminated when the process terminated but PTY handle still open
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockPty.h
  src/vtpty/MockViewPty.cpp
  src/vtpty/MockViewPty.h
  src/vtpty/Process.h
  src/vtpty/Process_unix.cpp
  src/vtpty/Process_win32.cpp
  src/vtpty/Pty.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
Labels: VT: Backend, frontend

#1316 fixed typo error in csi-u-extended-keyboard-protocol.md
  docs/vt-extensions/csi-u-extended-keyboard-protocol.md
Labels: documentation, no changelog

#1317 add logging to ConPTY I/O
  src/vtpty/ConPty.cpp
Labels: VT: Backend, no changelog

#1324 Revive input mapping of keypad/numpad keys
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
Labels: VT: Backend, no changelog
