Repository contour-terminal/contour, pull requests merged in 2023-09, with the labels that each got.

#1186 Add image of sixel support of plots inside julia repl
  docs/demo/images.md
  docs/screenshots/contour-julia-repl-sixel-image.png
Labels: documentation

#1188 Refactor Github CI slightly to reduce possible failures during release stage
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/check-common.sh
  scripts/install-deps.sh
Labels: CI

#1189 Fixes DECFRA and ensure it's well tested
  metainfo.xml
  src/vtbackend/Functions.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
Labels: VT: Backend, test

#1194 Have text trace logging a little bit more convenient
  src/crispy/utils.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Sequence.h
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Sequencer.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/bench-headless.cpp
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.h
  src/vtparser/ParserEvents.h
  src/vtparser/Parser_test.cpp
Labels: VT: Backend, test

#1193 Add cmake target for unit tests
  CMakeLists.txt
  src/crispy/CMakeLists.txt
  src/vtbackend/CMakeLists.txt
  src/vtparser/CMakeLists.txt
Labels: CMake

#1192 Fix crash on text selection
  src/contour/display/TerminalWidget.cpp
  src/vtbackend/Line.cpp
Labels: VT: Backend

#1195 Add config option `profile.*.frozen_dec_modes`
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/vtbackend/Settings.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.h
Labels: VT: Backend, frontend

#1196 Reworking last PR that enabled permanently set/reset DEC modes
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.h
Labels: VT: Backend

#1197 Add build type into cmake summary
  CMakeLists.txt
Labels: CMake

#1202 Small refactor of variant access for line
  src/vtbackend/Line.h
Labels: VT: Backend

#1203 implement size indicator on resize
  docs/demo/size_indicator.md
  docs/features.md
  docs/screenshots/size-indicator.png
  docs/videos/size-indicator.mp4
  metainfo.xml
  mkdocs.yml
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/ui.template/Terminal.qml.in
  src/contour/ui.template/main.qml.in
Labels: documentation, frontend

#1200 Fix file link opening
  metainfo.xml
  src/contour/TerminalSession.cpp
Labels: frontend

#1208 Various cursor/margin related fixes and minor QA improvements
  metainfo.xml
  src/vtbackend/Functions.h
  src/vtbackend/Grid.h
  src/vtbackend/MockTerm.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.h
Labels: VT: Backend, test

#1210 random improvements - Add percentage value to Indicator Statusline & mouse move event fix
  metainfo.xml
  src/vtbackend/Terminal.cpp
Labels: VT: Backend

#1206 Fix OSC 888 after qml merge
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
Labels: VT: Backend

#1212 Adds VT sequence DECSSCLS and properly handle DECSCLM
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/vtbackend/Functions.h
  src/vtbackend/Functions_test.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Settings.h
Labels: VT: Backend, frontend, test

#1214 Add config option to enable/disable size indicator on resize and make resize indicator small
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/contour/ui.template/Terminal.qml.in
Labels: documentation, frontend

#1217 Adds config option `profile.*.option_as_meta` to allow remapping Option key to Alt on MacOS
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/contour.yml
  src/contour/helper.cpp
Labels: frontend, platform: osx

#1216 Fixes Emoji rendering being too small on OS/X
  metainfo.xml
  src/crispy/read_selector.h
  src/text_shaper/open_shaper.cpp
  src/vtbackend/Terminal.cpp
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockPty.h
  src/vtpty/MockViewPty.cpp
  src/vtpty/MockViewPty.h
  src/vtpty/Process.h
  src/vtpty/Pty.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: Backend, VT: rasterizer, fonts

#1220 Fix formatting
  .github/workflows/checks.yml
  src/contour/Config.cpp
Labels: frontend, CI

#1213 Avoid rendering empty space when cutting off overly wide LCD subpixel AA glyphs
  metainfo.xml
  src/text_shaper/open_shaper.cpp
  src/vtrasterizer/RenderTarget.cpp
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: rasterizer, fonts

#1223 Check size of available_sizes to not get SEGV
  src/text_shaper/open_shaper.cpp
Labels: fonts

#1224 Fix contour close
  metainfo.xml
  src/contour/TerminalSession.cpp
Labels: frontend
