Repository contour-terminal/contour, pull requests merged in 2023-07, with the labels that each got.

#1130 Fix font inheritance for profiles
  src/contour/Config.cpp
Labels: frontend

#1131 Updating fmtlib custom formatters
  src/contour/Actions.h
  src/contour/Config.h
  src/contour/helper.h
  src/crispy/CLI.cpp
  src/crispy/CLI.h
  src/crispy/ImageSize.h
  src/crispy/StrongHash.h
  src/crispy/StrongLRUCache.h
  src/crispy/StrongLRUHashtable.h
  src/crispy/boxed.h
  src/crispy/point.h
  src/crispy/size.h
  src/crispy/utils.h
  src/text_shaper/font.h
  src/text_shaper/font_locator.h
  src/text_shaper/shaper.h
  src/vtbackend/Capabilities.h
  src/vtbackend/CellFlags.h
  src/vtbackend/Color.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Functions.h
  src/vtbackend/Grid.h
  src/vtbackend/Image.h
  src/vtbackend/InputBinding.h
  src/vtbackend/InputGenerator.h
  src/vtbackend/Line.h
  src/vtbackend/Logger.h
  src/vtbackend/MatchModes.h
  src/vtbackend/Selector.h
  src/vtbackend/Sequencer.h
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.h
  src/vtbackend/VTType.h
  src/vtbackend/ViInputHandler.h
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/primitives.h
  src/vtparser/Parser.h
  src/vtpty/Process.h
  src/vtrasterizer/Decorator.h
  src/vtrasterizer/FontDescriptions.h
  src/vtrasterizer/GridMetrics.h
  src/vtrasterizer/Pixmap.h
  src/vtrasterizer/RenderTarget.h
  src/vtrasterizer/TextRenderer.h
  src/vtrasterizer/TextureAtlas.h
Labels: VT: Backend, frontend, VT: rasterizer, fonts

#1132 [CMake] Work around GCC's false positives on -Wdangling-references
  cmake/PedanticCompiler.cmake
Labels: CMake

#1129 Update documentation
  docs/configuration/colors.md
  docs/configuration/index.md
  docs/configuration/profiles.md
  docs/configuration/theming.md
  docs/index.md
  mkdocs.yml
Labels: documentation

#1133 Fix bad fmt::formatter override for `capabilities::Code`
  src/vtbackend/Capabilities.h
Labels: VT: Backend

#1135 clear search when switch to insert mode
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands_test.cpp
Labels: VT: Backend, test

#1138 Delete dpi_scale option in configuration
  metainfo.xml
  src/contour/Config.cpp
  src/contour/contour.yml
  src/contour/display/TerminalWidget.cpp
Labels: frontend

#1139 Fix glyphs overlap by creating spacing between tiles in Atlas
  metainfo.xml
  src/vtrasterizer/Renderer.cpp
Labels: VT: rasterizer

#1140 Fixes deletion of artifact contour-ubuntu2204-tests
  .github/workflows/build.yml
Labels: CI

#1142 Fix names to pass tidy and pedantic
  src/contour/display/OpenGLRenderer.cpp
  src/text_shaper/open_shaper.cpp
  src/vtbackend/Selector_test.cpp
  src/vtbackend/Settings.h
  src/vtpty/LinuxPty.h
  src/vtpty/UnixPty.h
  src/vtrasterizer/BoxDrawingRenderer.cpp
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/Pixmap.cpp
  src/vtrasterizer/Pixmap.h
Labels: VT: Backend, test, VT: rasterizer, fonts

#1141 [CMake] contour: run macdeployqt for packaging on OS/X
  .github/workflows/build.yml
  cmake/DeployQt.cmake
  src/contour/CMakeLists.txt
Labels: CI, CMake

#1145 [Github CI] Move external tests over to Build CI to make use of already existing Contour DEB builds
  .github/workflows/build.yml
  .github/workflows/external_tests.yml
Labels: CI

#761 Refactor frontend to use QML / QtQuick.
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/release.yml
  .gitignore
  cmake/DeployQt.cmake
  scripts/ci/Xvfb-contour-run.sh
  scripts/ci/notcurses-install-deps.sh
  scripts/git-hooks/pre-commit.git-clang-format.sh
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/ScrollableDisplay.cpp
  src/contour/ScrollableDisplay.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/TerminalWindow.cpp
  src/contour/TerminalWindow.h
  src/contour/bell.wav
  src/contour/display/Blur.cpp
  src/contour/display/CMakeLists.txt
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/OpenGLRenderer.h
  src/contour/display/ShaderConfig.cpp
  src/contour/display/ShaderConfig.h
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/contour/main.cpp
  src/contour/resources.qrc
  src/contour/ui.template/RequestPermission.qml
  src/contour/ui.template/RequestPermission.qml.in
  src/contour/ui.template/Terminal.qml
  src/contour/ui.template/Terminal.qml.in
  src/contour/ui.template/main.qml
  src/contour/ui.template/main.qml.in
  src/vtrasterizer/RenderTarget.h
  src/vtrasterizer/Renderer.cpp
  src/vtrasterizer/Renderer.h
Labels: VT: Backend, frontend, CI, VT: rasterizer, frontend: OpenGL, CMake

#1149 Change default version of Qt to 6
  .github/ubuntu18/Dockerfile
  .github/workflows/codechecker-analysis.yml
  CMakeLists.txt
  README.md
  docs/install.md
  src/contour/display/TerminalWidget.cpp
Labels: documentation, CI, CMake
