Repository contour-terminal/contour, pull requests merged in 2023-06, with the labels that each got.

#1111 Reuse existing search term when re-entering search term editor
  .github/workflows/build.yml
  .github/workflows/release.yml
  metainfo.xml
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  vcpkg.json
Labels: VT: Backend, CI

#1113 Fixes search term rendering highlighting for search terms containing whitespaces
  metainfo.xml
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/RenderBufferBuilder.h
Labels: VT: Backend

#834 Fixing AppImage package with respect to missing Qt QPA plugins.
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

#1117 Invert direction for downwards glyphs
  metainfo.xml
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: rasterizer

#1121 Fix archlinux docker image
  .github/archlinux/Dockerfile
Labels: CI

#1119 Update documentation
  docs/features.md
  docs/index.md
  docs/install.md
  docs/screenshots/contour-sixel-plot.png
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation

#1123 Change path of CONTRIBUTING.md
  .github/fedora/contour.spec
Labels: CI

#1122 [docs] Add preliminary VT extensions documentation and a little cleanup wrt internals
  .github/workflows/build.yml
  docs/internals/index.md
  docs/vt-extensions/buffer-capture.md
  docs/vt-extensions/clickable-links.md
  docs/vt-extensions/font-settings.md
  docs/vt-extensions/index.md
  docs/vt-extensions/synchronized-output.md
  docs/vt-extensions/vertical-line-marks.md
  mkdocs.yml
Labels: documentation, CI

#1124 Fix wrong spelling of 'provided' in help text.
  src/contour/ContourGuiApp.cpp
Labels: frontend

#1126 Inheritance of configuration profile based on default
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/text_shaper/font.h
Labels: frontend, fonts

#1128 Add rawhide fedora into github actions
  .github/workflows/build.yml
  scripts/install-deps.sh
Labels: VT: Backend, CI
