Repository contour-terminal/contour, pull requests merged in 2023-04, with the labels that each got.

#1069 [vtbackend] Fixes selecting a single character not working easily
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .github/workflows/external_tests.yml
  metainfo.xml
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/Selector.cpp
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, CI

#1072 Allow customizing the IME (input method editor) region
  metainfo.xml
  src/contour/Config.cpp
  src/contour/contour.yml
  src/vtbackend/ColorPalette.h
  src/vtbackend/RenderBufferBuilder.cpp
Labels: VT: Backend, frontend

#1070 Revive packaging and uploading DMG package for OS/X.
  .github/workflows/build.yml
  .github/workflows/external_tests.yml
  .github/workflows/release.yml
  scripts/ci/notcurses-install-deps.sh
Labels: CI

#1073 Changes `DECSSDT 2` permission check to always apply.
  metainfo.xml
  src/contour/contour.yml
  src/vtbackend/Screen.cpp
Labels: VT: Backend

#1075 Improves mouse selection to be more natural extending into new grid cells
  metainfo.xml
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend

#1077 statusline UX and xterm-compat improvements
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Settings.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.h
  src/vtbackend/primitives.h
Labels: VT: Backend, frontend

#1081 Add installation section and move requierements and configuration sections in Readme file
  README.md
Labels: documentation

#1085 Update README
  README.md
Labels: documentation
