Repository contour-terminal/contour, pull requests merged in 2023-05, with the labels that each got.

#1087 Fix `int` to `unsigned` overflow conversion
  src/vtrasterizer/DecorationRenderer.cpp
Labels: VT: rasterizer

#1092 Use default shell if can not spawn user defined
  src/vtpty/Process_unix.cpp
  src/vtpty/Process_win32.cpp
Labels: VT: Backend

#1083 Qt6 build on windows and CONTOUR_QT_VERSION cmake variable
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  autogen.sh
  cmake/DeployQt.cmake
  src/contour/CMakeLists.txt
  src/contour/display/CMakeLists.txt
Labels: VT: Backend, CI, build, CMake, platform: windows

#1094 Update VCPKG to latest release (currently used one yields 404 on some packages
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

#1095 Fixes statusline being misplaced after resize when being in alt screen
  metainfo.xml
  src/vtbackend/Terminal.cpp
Labels: VT: Backend

#1096 Model mode: Adds text object `im` and `am` to select the range between two line marks
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: enhancement, VT: Backend, vi-mode

#1097 Get rid of HB_FEATURE_GLOBAL_END
  src/text_shaper/open_shaper.cpp
Labels: fonts

#1099 Model mode: Adds handling of `Home` and `End` keys
  metainfo.xml
  src/vtbackend/ViInputHandler.cpp
Labels: VT: Backend

#1103 Properly handle dependency installation on Fedora 38+
  .github/workflows/build.yml
  .github/workflows/release.yml
  scripts/install-deps.sh
Labels: CI

#1104 Linux: Adds support for writing to utmp/wtmp
  .github/workflows/build.yml
  metainfo.xml
  scripts/ci/notcurses-install-deps.sh
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/vtpty/CMakeLists.txt
  src/vtpty/LinuxPty.cpp
Labels: VT: Backend, CI, blocker:office

#1108 Avoid using utempter within Flatpak environment
  src/vtpty/CMakeLists.txt
  src/vtpty/LinuxPty.cpp
Labels: VT: Backend
