Repository contour-terminal/contour, pull requests merged in 2023-11, with the labels that each got.

#1328 Improve Numpad input mapping (relevant for CSIu protocol)
  src/contour/Config.cpp
  src/contour/contour.yml
  src/contour/helper.cpp
  src/contour/helper.h
  src/vtbackend/ViInputHandler.cpp
Labels: VT: Backend, frontend, no changelog

#1330 pragmatic fix of shell quick exit
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/crispy/CMakeLists.txt
  src/crispy/utils.cpp
  src/crispy/utils.h
  src/vtpty/SshSession.cpp
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
Labels: VT: Backend, frontend, no changelog

#1332 Fix CSIu for Ctrl+Alt (AltGr) on Windows
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/crispy/flags.h
  src/vtbackend/InputBinding.h
  src/vtbackend/InputGenerator.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/InputHandler.h
  src/vtbackend/Settings.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, frontend, test, platform: windows, no changelog

#1333 [crispy] Improve result<T, E> type, add monadic functions.
  src/crispy/CMakeLists.txt
  src/crispy/result.h
  src/crispy/result_test.cpp
  src/vtpty/SshSession.cpp
Labels: VT: Backend, test, no changelog

#1334 Adapting CellFlags and LineFlags to new `flags<T>`
  src/crispy/flags.h
  src/vtbackend/CellFlags.h
  src/vtbackend/CellUtil.h
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid.h
  src/vtbackend/Grid_test.cpp
  src/vtbackend/InputGenerator.h
  src/vtbackend/Line.cpp
  src/vtbackend/Line.h
  src/vtbackend/Line_test.cpp
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/VTWriter.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/cell/SimpleCell.h
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: Backend, test, VT: rasterizer, code health, no changelog

#1335 Upgrade MacOS runner from v11 to v12 (hopefully fixing Qt lib install issue)
  .github/workflows/build.yml
  scripts/install-deps.sh
Labels: CI, no changelog

#1337 Fixes setting window class (`app_id`) on Wayland
  metainfo.xml
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
Labels: frontend, platform: wayland

#1287 WIP: Trying to get MacOS packaging fixed
  .editorconfig
  .github/workflows/build.yml
  autogen.sh
  cmake/CIncludeMe.cmake
  cmake/ContourThirdParties.cmake
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/display/OpenGLRenderer.h
  src/contour/helper.cpp
  src/vtbackend/CMakeLists.txt
Labels: VT: Backend, frontend, CI, CMake, no changelog

#1345 Fix scroll freeze
  src/contour/ui.template/Terminal.qml.in
Labels: frontend, no changelog

#1341 Compile without libssh
  LICENSE.txt
  cmake/Modules/MacOSXBundleInfo.plist.in
  debian/rules
  src/contour/Config.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSessionManager.cpp
  src/contour/shell-integration/shell-integration.fish
  src/vtpty/CMakeLists.txt
  test/images/squirrel-50.sixel
Labels: VT: Backend, frontend, CMake, no changelog

#1339 [Github CI] Fix missing package on CI
  .github/workflows/build.yml
  CMakeLists.txt
  autogen.sh
  cmake/ContourThirdParties.cmake
  debian/changelog
  debian/compat
  debian/contour-terminfo.install
  debian/contour.install
  debian/control
  debian/copyright
  debian/rules
  debian/source/format
  debian/source/options
  src/contour/CMakeLists.txt
Labels: frontend, CI, CMake, no changelog

#1346 Update libunicode to latest
  scripts/install-deps.ps1
  scripts/install-deps.sh
Labels: no changelog

#1347 Minor cleanup on how to instanciate a RasterizedImage
  src/vtbackend/Image.cpp
  src/vtbackend/Image.h
  src/vtbackend/Screen.cpp
Labels: VT: Backend, no changelog
