Repository contour-terminal/contour, pull requests merged in 2023-12, with the labels that each got.

#1352 Fix fmt compilation.
  src/vtbackend/Terminal.h
Labels: VT: Backend, no changelog

#1355 Fixes DECSSDT
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/ui.template/Terminal.qml.in
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, frontend, no changelog

#1361 Fix the use of margins within (host writable) statusline
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/TerminalState.cpp
  src/vtbackend/TerminalState.h
Labels: VT: Backend, test, no changelog

#1331 Add github action to check links in the documentation and root
  .github/workflows/build.yml
  README.md
  docs/internals/text-stack.md
Labels: documentation, CI, no changelog

#1362 Bump boxed-cpp to version 1.1.0
  scripts/install-deps.ps1
  scripts/install-deps.sh
Labels: no changelog

#1364 Clear invalid iCCP profiles
  src/contour/res/images/contour-logo-256.png
  src/contour/res/images/contour-logo.png
Labels: frontend, no changelog

#1365 Fix window resize events not respecting content scale
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
  src/contour/helper.cpp
  src/vtpty/UnixPty.cpp
Labels: VT: Backend, frontend, no changelog

#1363 Update linksafe action
  .github/workflows/build.yml
  src/contour/ContourApp.cpp
  src/crispy/Intrinsics.h
  src/vtbackend/Charset.cpp
  src/vtrasterizer/DecorationRenderer.cpp
Labels: VT: Backend, frontend, CI, VT: rasterizer, no changelog

#1368 [Process] Avoid throwing an exception if waitpid() failed
  src/vtpty/Process_unix.cpp
Labels: VT: Backend, platform: osx

#1371 Fix VT sequence XTWINOPS to not assert and terminate
  metainfo.xml
  src/vtbackend/Screen.cpp
Labels: VT: Backend

#1370 [scripts] Fix OS misdetection in install-deps.sh for FreeBSD
  scripts/install-deps.sh
Labels: no changelog

#1359 Release 0.4.0
  .github/workflows/build.yml
  metainfo.xml
  scripts/ci-set-vars.ps1
  scripts/ci-set-vars.sh
  scripts/install-deps.sh
  src/contour/helper.cpp
Labels: frontend, CI

#1381 Changes VT sequence `DECSCUSR`'s default parameter reset to user-configured cursor style
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, frontend

#1372 Remove `contour-latest` terminfo file.
  metainfo.xml
  src/contour/Config.cpp
  src/vtbackend/Capabilities.cpp
Labels: VT: Backend, frontend

#1382 Fix Command modifier for input mappings on on MacOS
  metainfo.xml
  src/contour/Config.cpp
  src/contour/helper.cpp
Labels: frontend

#1385 Add config option `profiles.*.margins` to allow customizing the horizontal / vertical margins
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/contour/ui.template/main.qml.in
Labels: documentation, frontend

#1386 Add config option to customize default bold/bright and dimmed foreground colors
  docs/configuration/colors.md
  metainfo.xml
  src/contour/Config.cpp
  src/vtbackend/ColorPalette.cpp
  src/vtbackend/ColorPalette.h
  test/dimmed-bold-bright-text.sh
Labels: documentation, VT: Backend, frontend

#1387 Fix CSIu encoding of shift modifier produced characters
  metainfo.xml
  src/vtbackend/InputGenerator.cpp
Labels: VT: Backend

#1388 contour.yml: fix incorrect default for frozen dev modes
  src/contour/contour.yml
Labels: frontend, no changelog

#1376 Fix collision of bold and regular font files
  metainfo.xml
  src/text_shaper/open_shaper.cpp
Labels: fonts

#1390 Ensure next release will include ZIP package for Windows
  .github/workflows/build.yml
Labels: CI, no changelog

#1391 Properly manage scrollbar and offset
  src/contour/ui.template/Terminal.qml.in
Labels: frontend

#1392 Attempting to fix assertion failure when running in RHEL Linux
  src/contour/helper.cpp
Labels: frontend, no changelog

#1393 Accumulate scroll distance instead of immediately trigger scroll
  metainfo.xml
  src/contour/TerminalSession.h
  src/contour/helper.cpp
Labels: frontend

#1394 docs: fixed markup for backticks text object
  docs/input-modes.md
Labels: documentation, no changelog

#1395 Fixes screen destruction on sibling cells when overwriting wide characters
  metainfo.xml
  src/contour/helper.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
Labels: VT: Backend, frontend
