Repository contour-terminal/contour, pull requests merged in 2023-01, with the labels that each got.

#965 Add option to hide mouse while typing
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
Labels: frontend

#971 Implement locking shifts (S0 / SI)
  metainfo.xml
  src/vtbackend/Charset.cpp
  src/vtbackend/Charset.h
  src/vtbackend/Functions.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/test_helpers.h
Labels: VT: Backend, test

#976 Vi mode text object improvements.
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend

#978 improving vi-mode, again. :)
  metainfo.xml
  src/vtbackend/CMakeLists.txt
  src/vtbackend/MockTerm.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands_test.cpp
  src/vtbackend/test_helpers.h
Labels: VT: Backend, test

#979 Improvements to vi-like normal mode: Add `M` motion to jump to middle…
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands_test.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: enhancement, VT: Backend, test, vi-mode

#983 Improvements to vi-like normal mode: Add `P` to paste the clipboard with newlines stripped.
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: enhancement, VT: Backend, vi-mode

#986 Improve vi-mode motions `b` and `w` to better emulate what vim is doing
  metainfo.xml
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands_test.cpp
Labels: VT: Backend, test, vi-mode

#988 Fixes BEL (system beep) on some platform by unifying implementation
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalWidget.cpp
  src/contour/display/TerminalWidget.h
  src/contour/res/bell.oga
  src/contour/resources.qrc
Labels: frontend

#992 Adds new config option `word_highlight_current` and `word_highlight_other`.
  metainfo.xml
  src/contour/Config.cpp
  src/contour/contour.yml
  src/vtbackend/ColorPalette.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, frontend

#991 Adds ability to explicitly disable font features.
  metainfo.xml
  src/contour/Config.cpp
  src/text_shaper/font.h
  src/text_shaper/open_shaper.cpp
Labels: frontend, fonts

#993 terminfo: Changes terminfo entries `tsl`, `fsl` and `dsl` to make use of the host-writable statusline.
  metainfo.xml
  src/vtbackend/Capabilities.cpp
Labels: VT: Backend

#994 [vi mode] add `B`, `W`, `E` and properly respect word boundaries in word text object (`iw` / `aw`).
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend

#995 Adds support for mouse in normal mode for selection and normal-mode's cursor placement.
  metainfo.xml
  src/vtbackend/Selector.cpp
  src/vtbackend/Selector.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViInputHandler.h
  src/vtbackend/primitives.h
Labels: VT: Backend, vi-mode

#996 install-deps script to use qt5 by default (again, and for now).
  .github/workflows/release.yml
  scripts/install-deps.sh
Labels: CI

#997 DeployQt.cmake: Applying a mini-maintenance-improvement
  .github/workflows/build.yml
  .github/workflows/release.yml
  cmake/DeployQt.cmake
Labels: CI, CMake

#1000 Fixing CI workflow for Ubuntu 22.04 packages
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

#998 Refactoring modal input mode handler
  metainfo.xml
  src/crispy/CMakeLists.txt
  src/crispy/TrieMap.h
  src/crispy/TrieMap_test.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, test

#1002 [vtbackend] Adds normal mode command `[[` and `]]` mimmicking exactly what vim does.
  metainfo.xml
  src/vtbackend/Line.cpp
  src/vtbackend/Line.h
  src/vtbackend/Screen.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend

#1003 Adds normal mode motion `[m`, `]m`, `[]`, `][` and fixes (revives) `J` and `K`.
  metainfo.xml
  src/vtbackend/Screen.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, vi-mode

#1001 Adds shell-integration for fish.
  metainfo.xml
  src/contour/CMakeLists.txt
  src/contour/ContourApp.cpp
  src/contour/resources.qrc
  src/contour/shell-integration/shell-integration.fish
  src/contour/shell-integration/shell-integration.zsh
Labels: frontend

#1004 Fixes use of config `bypass_mouse_protocol_modifier` that was ignored.
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend

#1005 Make missing key message apear without debug log
  src/contour/Config.cpp
Labels: frontend

#1006 Simplify mouse related event handling code for better code quality
  src/contour/TerminalSession.cpp
  src/vtbackend/Selector.cpp
  src/vtbackend/Selector.h
  src/vtbackend/Selector_test.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend, frontend, test, code health

#1008 [vtbackend] Adds normal mode motion `mm` to toggle the line mark at the current active cursor position.
  metainfo.xml
  src/vtbackend/Screen.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, vi-mode

#1009 [vtbackend] Terminal: Adds test case for text selection.
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal_test.cpp
Labels: VT: Backend, test

#1011 some more code cleanups
  src/contour/display/OpenGLRenderer.cpp
  src/contour/display/OpenGLRenderer.h
  src/contour/display/TerminalWidget.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtrasterizer/RenderTarget.h
  src/vtrasterizer/Renderer.cpp
  src/vtrasterizer/Renderer.h
Labels: VT: Backend, VT: rasterizer, code health

#1012 Adding tabstops before the right most end shouldn't push last character
  src/vtbackend/Screen.cpp
Labels: VT: Backend

#1013 Implements `f`, `F`, `t`, `T`, `;`, `,` for cursor move and yank operations.
  metainfo.xml
  src/crispy/TrieMap.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, vi-mode

#1016 Adds config entry `vi_mode_highlight` to color palette to highlight current line in non-insert mode
  metainfo.xml
  src/contour/Config.cpp
  src/contour/contour.yml
  src/vtbackend/ColorPalette.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/RenderBufferBuilder.h
Labels: enhancement, VT: Backend, frontend, vi-mode

#1018 [contour] Fixes abnormal termination on incomplete foreground/background color-pair specification.
  metainfo.xml
  src/contour/Config.cpp
Labels: frontend
