Repository contour-terminal/contour, pull requests merged in 2024-12, with the labels that each got.

#1661 Update and fix static build
  .github/static/DockerQt
  src/vtpty/SshSession.h
Labels: VT: Backend, CI, no changelog

#1662 Drop arch action and update readme
  .github/archlinux/Dockerfile
  .github/workflows/build.yml
  README.md
Labels: documentation, CI, no changelog

#1665 Fix bug with call of DECFRA out of bounds
  metainfo.xml
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
Labels: VT: Backend, test

#1667 Disable fedora github action
  .github/workflows/build.yml
Labels: CI, no changelog

#1668 Fix actions
  .github/workflows/build.yml
Labels: CI, no changelog

#1671 docs(spelling): fix typos in documentation
  docs/CONTRIBUTING.md
  docs/configuration/advanced/renderer.md
  docs/configuration/key-mapping.md
  docs/demo/size_indicator.md
  docs/drafts/daemon-mode.md
  docs/drafts/grid-redesign.md
  docs/input-modes.md
  docs/install.md
  docs/internals/index.md
  docs/internals/text-stack.md
  docs/vt-extensions/save-and-restore-sgr-attributes.md
  docs/vt-extensions/synchronized-output.md
Labels: documentation

#1670 docs(fix): update old wiki links to point to the MkDocs pages
  README.md
  docs/features.md
Labels: documentation, no changelog

#1672 Fix underline style reset
  metainfo.xml
  src/vtbackend/CellUtil.h
  src/vtbackend/Terminal_test.cpp
Labels: VT: Backend, test

#1658 Improvements of the search mode
  metainfo.xml
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, no changelog

#1673 Some Improvements to the tabs
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/display/TerminalDisplay.cpp
  src/vtrasterizer/TextClusterGrouper_test.cpp
Labels: frontend, test, VT: rasterizer, no changelog

#1675 Prepare release 0.6.0
  .github/workflows/build.yml
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
Labels: frontend, CI

#1677 Fix signature for format function for ExecInfo type
  src/contour/Config.h
Labels: frontend

#1678 docs: Add adoption state for dark/light mode notifications
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation

#1679 [contour] Do not abort when failing to create `XDG_STATE_HOME/contour/crash` directory
  metainfo.xml
  src/contour/ContourApp.cpp
Labels: frontend

#1682 Fix error with wrong terminal size during tab switch
  metainfo.xml
  src/contour/TerminalSessionManager.cpp
  src/contour/display/TerminalDisplay.cpp
Labels: frontend

#1686 Fix backtab pty.output generation
  metainfo.xml
  src/vtbackend/InputGenerator.cpp
Labels: VT: Backend

#1687 color-palette-update-notifications.md: fix typo
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation, no changelog

#1688 [Github CI] Add spellcheck action
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/allow/api-terms.txt
  .github/actions/spelling/allow/names.txt
  .github/actions/spelling/allow/patterns.txt
  .github/actions/spelling/allow/qt-terms.txt
  .github/actions/spelling/allow/terminal-terms.txt
  .github/actions/spelling/allow/uncategorized.txt
  .github/workflows/build.yml
  .spellcheck.yml
  docs/CONTRIBUTING.md
  docs/configuration/colors.md
  docs/demo/ime.md
  docs/vt-extensions/color-palette-update-notifications.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/ConfigDocumentation.h
  src/contour/ContourApp.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/display/shaders/text.frag
  src/crispy/CLI.h
  src/crispy/StrongLRUCache.h
  src/crispy/StrongLRUHashtable.h
  src/vtbackend/Grid.h
  src/vtbackend/Line.h
  src/vtbackend/Screen.cpp
  src/vtbackend/primitives.h
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/Decorator.h
Labels: documentation, VT: Backend, frontend, CI, VT: rasterizer

#1693 Fixes startup crash when window is not yet fully initialized
  metainfo.xml
  src/contour/display/TerminalDisplay.cpp
Labels: frontend

#1689 [contour] Improve tab switch handling and add `SwitchToPreviousTab`
  metainfo.xml
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/ui.template/Terminal.qml.in
Labels: frontend
