Repository contour-terminal/contour, pull requests merged in 2024-11, with the labels that each got.

#1647 Update qt version for static build
  .github/static/DockerQt
Labels: CI, no changelog

#1646 Implement vi mode jumps
  metainfo.xml
  src/vtbackend/CMakeLists.txt
  src/vtbackend/JumpHistory.cpp
  src/vtbackend/JumpHistory.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend

#1653 Update readme with no macos specific version requirement
  README.md
Labels: documentation, no changelog

#1651 Extend clang-tidy checks
  src/.clang-tidy
  src/contour/BlurBehind.cpp
  src/contour/CaptureScreen.cpp
  src/contour/Config.cpp
  src/contour/ContourApp.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSessionManager.cpp
  src/contour/display/ShaderConfig.cpp
  src/contour/display/TerminalDisplay.cpp
  src/contour/helper.cpp
  src/crispy/App.cpp
  src/crispy/CLI.cpp
  src/crispy/CLI_test.cpp
  src/crispy/LRUCache_test.cpp
  src/crispy/StrongLRUCache_test.cpp
  src/crispy/StrongLRUHashtable_test.cpp
  src/text_shaper/fontconfig_locator.cpp
  src/text_shaper/open_shaper.cpp
  src/text_shaper/shaper.cpp
  src/vtbackend/ColorPalette.cpp
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid_test.cpp
  src/vtbackend/Image.cpp
  src/vtbackend/InputGenerator_test.cpp
  src/vtbackend/Line_test.cpp
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Selector.cpp
  src/vtbackend/Selector_test.cpp
  src/vtbackend/SixelParser.cpp
  src/vtbackend/SixelParser_test.cpp
  src/vtbackend/StatusLineBuilder.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands_test.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/Viewport.cpp
  src/vtparser/Parser.cpp
  src/vtparser/Parser.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockViewPty.cpp
  src/vtpty/Process_unix.cpp
  src/vtpty/SshSession.cpp
  src/vtpty/SshSession.h
  src/vtpty/UnixPty.cpp
  src/vtrasterizer/BackgroundRenderer.cpp
  src/vtrasterizer/BoxDrawingRenderer.cpp
  src/vtrasterizer/CursorRenderer.cpp
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/ImageRenderer.cpp
  src/vtrasterizer/Pixmap.cpp
  src/vtrasterizer/RenderTarget.cpp
  src/vtrasterizer/Renderer.cpp
  src/vtrasterizer/TextClusterGrouper.cpp
  src/vtrasterizer/TextClusterGrouper_test.cpp
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/utils.cpp
Labels: VT: Backend, frontend, test, VT: rasterizer, fonts, no changelog

#1656 Fix typo in "operating system"
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation, no changelog

#1655 Fix clang-19 and libc++ compilation @paparodeo
  cmake/presets/os-windows.json
  src/crispy/StrongHash.h
Labels: CMake, no changelog
