Repository contour-terminal/contour, pull requests merged in 2024-10, with the labels that each got.

#1610 Prepare release 0.5.1
  .github/static/DockerQt
  .github/static/DockerUbuntu
  .github/static/readme
  .github/workflows/build.yml
  metainfo.xml
Labels: CI

#1617 Fix header in audio.cpp file
  src/contour/Audio.cpp
Labels: no changelog

#1618 Add few BSD specific locations during terminfo loading
  src/contour/Config.cpp
Labels: frontend

#1621 Disable openbsd action
  .github/workflows/build.yml
Labels: CI, no changelog

#1584 Implementation of terminal tabs
  README.md
  docs/configuration/indicator-statusline.md
  docs/features.md
  metainfo.xml
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
  src/contour/helper.h
  src/contour/ui.template/Terminal.qml.in
  src/vtbackend/StatusLineBuilder.cpp
  src/vtbackend/StatusLineBuilder.h
  src/vtbackend/Terminal.h
Labels: documentation, VT: Backend, frontend

#1624 Fix docs github action
  .github/workflows/docs.yml
Labels: CI

#1620 Exit normal mode with Escape
  metainfo.xml
  src/vtbackend/ViInputHandler.cpp
Labels: VT: Backend

#1619 Add insert_after_yank config option
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/TerminalSession.cpp
  src/vtbackend/Settings.h
  src/vtbackend/ViCommands.cpp
Labels: documentation, VT: Backend, frontend

#1626 Update contributing reference
  .github/pull_request_template.md
Labels: CI

#1627 Tiny code cleanup for macOS builds to not require manual keyboard modifier swapping
  src/contour/ContourGuiApp.cpp
  src/contour/helper.h
Labels: frontend, no changelog

#1629 [contour] Change default tabs position on statusbar to the left
  src/contour/Config.h
Labels: frontend, no changelog

#1630 Fixes mouse wheel scrolling on High-DPI screens feeling too slow
  metainfo.xml
  src/contour/helper.cpp
Labels: frontend

#1628 simplify, cleanup, and improve window size/resize handling
  metainfo.xml
  src/contour/Config.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
  src/contour/helper.cpp
  src/contour/ui.template/main.qml.in
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend

#1633 Add styling-capability for active tab in Tabs view in statusline
  docs/configuration/indicator-statusline.md
  src/contour/Config.h
  src/contour/TerminalSessionManager.h
  src/vtbackend/StatusLineBuilder.cpp
  src/vtbackend/StatusLineBuilder.h
  src/vtbackend/Terminal.h
Labels: documentation, VT: Backend, frontend, no changelog

#1639 Do not crop symbol that is completely below cell
  metainfo.xml
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: rasterizer

#1640 Add macOS x86 action
  .github/workflows/build.yml
Labels: CI, no changelog

#1623 Generate configuration documentation from ci
  .github/workflows/docs.yml
  cmake/ContourThirdParties.cmake
  docs/configuration/index.md
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/ContourApp.cpp
  src/contour/ContourApp.h
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/display/TerminalDisplay.cpp
  src/crispy/CMakeLists.txt
  src/vtbackend/StatusLineBuilder.cpp
Labels: documentation, VT: Backend, frontend, CI, CMake, no changelog

#1642 Implement SaveScreenshot and CopyScreenshot action
  metainfo.xml
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/ConfigDocumentation.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
Labels: frontend

#1644 Transform camelCase into snake_case for docs
  src/contour/Config.h
Labels: frontend, no changelog

#1643 Request permission on big paste
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/ui.template/Terminal.qml.in
Labels: VT: Backend, frontend

#1645 Position middle segment of status line properly
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, no changelog

#1614 Fix macOS specific key handling
  metainfo.xml
  src/vtbackend/InputGenerator.h
  src/vtbackend/InputGenerator_test.cpp
Labels: VT: Backend, test
