Repository contour-terminal/contour, pull requests merged in 2024-09, with the labels that each got.

#1590 Add xdg-terminal-exec support
  metainfo.xml
  src/contour/contour.desktop
Labels: frontend

#1591 install-deps.sh: Flip curl/wget priority to favor curl over wget, because at least Fedora 40 Linux seems to complain on wget
  .github/workflows/build.yml
  scripts/install-deps.sh
Labels: VT: Backend, CI, no changelog

#1592 Update to latest libunicode to 0.5.0
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/vtbackend/CellUtil.h
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/cell/SimpleCell.h
Labels: VT: Backend, no changelog

#1587 Add predefined color palettes
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/ConfigDocumentation.h
  src/vtbackend/ColorPalette.cpp
  src/vtbackend/ColorPalette.h
  src/vtbackend/Line.cpp
Labels: documentation, VT: Backend, frontend

#1593 Release 0.5.0
  .github/workflows/build.yml
  metainfo.xml
Labels: CI

#1596 Use appimage-builder to create appimage
  .github/appimage/AppImageBuilder.yml
  .github/appimage/Dockerfile
  .github/workflows/build.yml
Labels: CI, no changelog

#1606 Update libunicode to support Unicode 16.0.0
  cmake/ContourThirdParties.cmake
  metainfo.xml
  scripts/install-deps.ps1
  scripts/install-deps.sh
Labels: CMake

#1608 Overall old Ubuntu 22.04 removals. We only want to support latest LTS of Ubuntu
  .github/appimage/AppImageBuilder.yml
  .github/appimage/Dockerfile
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/codechecker-analysis.yml
  metainfo.xml
  scripts/install-deps.sh
Labels: CI

#1605 Load rendered backend from config
  metainfo.xml
  src/contour/Config.cpp
Labels: frontend

#1609 Fix vi-modifier `viW` / `oiW` / `yiW` as well as `B` and `W` (white space delimited motions)
  metainfo.xml
  src/vtbackend/Line.h
Labels: VT: Backend
