Repository contour-terminal/contour, pull requests merged in 2024-01, with the labels that each got.

#1398 Fixes `scripts/install-deps.sh` for openSuSE (Tumbleweed) to install the correct dependencies
  metainfo.xml
  scripts/install-deps.sh
  src/contour/display/CMakeLists.txt
Labels: frontend

#1399 Fixes missing dependencies for release .deb packages
  metainfo.xml
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/helper.cpp
Labels: frontend

#1401 Fix `...` programming ligature rendering issue
  metainfo.xml
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: rasterizer

#1400 Fix Alt+WheelEvents not captured correctly
  metainfo.xml
  src/contour/helper.cpp
Labels: frontend

#1404 code cleanups
  src/crispy/App.cpp
  src/crispy/CLI.cpp
  src/crispy/CMakeLists.txt
  src/crispy/indexed.h
  src/crispy/indexed_test.cpp
  src/text_shaper/open_shaper.cpp
  src/vtbackend/Functions.cpp
  src/vtbackend/Functions.h
  src/vtparser/CMakeLists.txt
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.cpp
  src/vtparser/Parser.h
  src/vtparser/ParserExtension.h
  src/vtparser/test_main.cpp
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: Backend, test, VT: rasterizer, fonts, no changelog

#1414 Fixes text render bug that was just introduced
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/TextRenderer.h
Labels: VT: rasterizer, no changelog

#1409 add quotes around chars for input logging
  src/contour/TerminalSession.cpp
Labels: frontend, no changelog

#1403 Fix notcurses github action
  scripts/ci/Xvfb-contour-run.sh
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, no changelog

#1412 Readme: Add blurred transparent bg for GNOME shell
  README.md
Labels: documentation, no changelog

#1417 Fix legacy keyboard input protocol not reporting non-Alt modifier
  metainfo.xml
  src/vtbackend/InputGenerator.cpp
Labels: VT: Backend

#1418 Improvement/input test cases
  src/crispy/flags.h
  src/vtbackend/InputGenerator_test.cpp
Labels: VT: Backend, test, no changelog

#1420 refactor text renderer for better unit testability
  .github/workflows/build.yml
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/vtbackend/Color.h
  src/vtbackend/primitives.h
  src/vtrasterizer/CMakeLists.txt
  src/vtrasterizer/FontDescriptions.h
  src/vtrasterizer/TextClusterGrouper.cpp
  src/vtrasterizer/TextClusterGrouper.h
  src/vtrasterizer/TextClusterGrouper_test.cpp
  src/vtrasterizer/TextRenderer.cpp
  src/vtrasterizer/TextRenderer.h
Labels: VT: Backend, test, CI, VT: rasterizer, no changelog

#1428 Digitally sign MacOS release binaries using a valid Apple ID
  .github/workflows/build.yml
  autogen.sh
  metainfo.xml
  src/contour/CMakeLists.txt
Labels: frontend, CI

#1430 Properly handle installation/upgrade by specifying product/upgrade GUID for Windows installer
  cmake/Version.cmake
  src/contour/CMakeLists.txt
Labels: no changelog

#1431 Fix logging
  src/vtbackend/Terminal.cpp
Labels: VT: Backend, no changelog

#1433 Update freebsd github action version
  .github/workflows/build.yml
Labels: CI, no changelog

#1432 Fixes MSI install directory name, once and for all
  src/contour/CMakeLists.txt
Labels: frontend, platform: windows, no changelog

#1436 Fix FreeBSD github action
  .github/workflows/build.yml
  scripts/install-deps.sh
  src/vtrasterizer/CMakeLists.txt
Labels: CI, no changelog

#1438 Set history lines default to 1000 rather than 0.
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
Labels: frontend

#1435 Allow password retry on priv-key auth and try with empty password first automatically
  metainfo.xml
  src/vtpty/SshSession.cpp
  src/vtpty/SshSession.h
Labels: VT: Backend
