Repository contour-terminal/contour, pull requests merged in 2024-07, with the labels that each got.

#1550 Fix scrolling jump when go to normal mode
  src/vtbackend/Terminal.cpp
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend, no changelog

#1551 [vtbackend] Get rid of unused ScreenEvents.
  src/contour/helper.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/ScreenEvents.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Selector_test.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/primitives.h
Labels: VT: Backend, frontend, test, code health, no changelog

#1553 Do not export TERM env var when using ConPTY (on Windows)
  .github/workflows/build.yml
  cmake/presets/os-windows.json
  metainfo.xml
  src/vtpty/Process_win32.cpp
Labels: VT: Backend, CI, CMake, platform: windows

#1558 Improves handling of constant bell sound spawning
  metainfo.xml
  src/contour/ui.template/Terminal.qml.in
Labels: frontend

#1559 Fix editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/general.md
  .github/ci-ppa/dput.cf
  .github/mock-font-locator.yml
  .github/workflows/codeql-analysis.yml.disabled
  CODE_OF_CONDUCT.md
  autogen.sh
  examples/CMakeLists.txt
  metainfo.xml
  scripts/ci-set-vars.sh
  src/crispy/CMakeLists.txt
  test/origin-mode-and-margins.sh
Labels: documentation, CI

#1555 Fix selection of w/W vim motions
  metainfo.xml
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend

#1563 ContourThirdParties.cmake: fix boxed-cpp detection
  cmake/ContourThirdParties.cmake
Labels: CMake, no changelog

#1565 Add support for highlighting matches of the currently selected text area (beyond double click)
  metainfo.xml
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend

#1561 Implement case-insesitive smart search
  metainfo.xml
  src/crispy/utils.h
  src/vtbackend/CellUtil.h
  src/vtbackend/Grid.h
  src/vtbackend/Line.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/cell/CellConcept.h
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/cell/SimpleCell.h
Labels: VT: Backend

#1566 mark fmt::formatter<..>::format() const
  src/contour/Actions.h
  src/contour/Config.h
  src/contour/TerminalSession.h
  src/crispy/StrongHash.h
  src/crispy/StrongLRUHashtable.h
  src/crispy/file_descriptor.h
  src/crispy/flags.h
  src/crispy/point.h
  src/text_shaper/font.h
  src/text_shaper/font_locator.h
  src/text_shaper/shaper.h
  src/vtbackend/Capabilities.h
  src/vtbackend/CellFlags.h
  src/vtbackend/Color.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Functions.h
  src/vtbackend/Grid.h
  src/vtbackend/Image.h
  src/vtbackend/InputGenerator.h
  src/vtbackend/MatchModes.h
  src/vtbackend/Screen.h
  src/vtbackend/Selector.h
  src/vtbackend/Terminal.h
  src/vtbackend/VTType.h
  src/vtbackend/ViInputHandler.h
  src/vtbackend/cell/CompactCell.h
  src/vtbackend/primitives.h
  src/vtparser/Parser.h
  src/vtpty/ImageSize.h
  src/vtpty/Process.h
  src/vtpty/SshSession.h
  src/vtrasterizer/Decorator.h
  src/vtrasterizer/FontDescriptions.h
  src/vtrasterizer/GridMetrics.h
  src/vtrasterizer/Pixmap.h
  src/vtrasterizer/RenderTarget.h
  src/vtrasterizer/TextClusterGrouper_test.cpp
  src/vtrasterizer/TextureAtlas.h
Labels: VT: Backend, frontend, test, VT: rasterizer, fonts

#1548 add OpenBSD support
  .github/workflows/build.yml
  README.md
  docs/index.md
  metainfo.xml
  scripts/install-deps.sh
  src/contour/CMakeLists.txt
  src/contour/TerminalSession.cpp
  src/crispy/CMakeLists.txt
  src/crispy/utils.cpp
  src/text_shaper/CMakeLists.txt
  src/vtpty/UnixPty.cpp
Labels: documentation, VT: Backend, frontend, CI

#1463 Bump of boxed-cpp and code update
  cmake/ContourThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
Labels: VT: Backend, CMake, no changelog

#1571 Fix and update github actions
  .github/workflows/build.yml
Labels: CI, no changelog

#1574 fix error, "" is an invalid MIME type ("" does not contain a subtype)
  src/contour/contour.desktop
Labels: frontend, no changelog

#1567 Fix copy of multi-line selection
  metainfo.xml
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal_test.cpp
Labels: VT: Backend, test

#1569 Preserve spaces on resize
  metainfo.xml
  src/vtbackend/CellUtil.h
  src/vtbackend/Grid_test.cpp
  src/vtbackend/Line.cpp
Labels: VT: Backend, test

#1573 update default config and restrict font selection on macos
  src/contour/Config.h
  src/vtpty/Process_unix.cpp
Labels: VT: Backend, frontend, no changelog

#1575 Fix path to key-mapping docs
  mkdocs.yml
Labels: no changelog

#1576 Fix line corruption on windows
  metainfo.xml
  src/vtbackend/Screen.h
Labels: VT: Backend

#1556 Add paste selection option to evaluate selection via shell
  metainfo.xml
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
Labels: frontend
