Repository contour-terminal/contour, pull requests merged in 2024-03, with the labels that each got.

#1479 Implement early exit threshold config entry
  .github/workflows/build.yml
  docs/configuration/index.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/ContourGuiApp.cpp
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
Labels: documentation, frontend, CI

#1480 Update desktop entry
  metainfo.xml
  src/contour/contour.desktop
Labels: frontend

#1481 AppImage packaging for Qt6 and Ubuntu 22.04
  .github/workflows/build.yml
  metainfo.xml
Labels: CI

#1483 Update of config generation
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/text_shaper/font.h
Labels: frontend, no changelog

#1487 Fixes `CSI 8 ; (COLS) ; (ROWS) t` to resize the terminal with respect to High-DPI
  metainfo.xml
  src/contour/display/TerminalDisplay.cpp
Labels: frontend

#1485 Refactoring Terminal's internal state storage
  src/contour/TerminalSession.cpp
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Cursor.h
  src/vtbackend/Hyperlink.h
  src/vtbackend/MockTerm.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/ScreenBase.h
  src/vtbackend/Screen_test.cpp
  src/vtbackend/Sequencer.cpp
  src/vtbackend/StatusLineBuilder.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViCommands_test.cpp
  src/vtbackend/primitives.h
  src/vtpty/ConPty.cpp
  src/vtpty/ImageSize.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockViewPty.cpp
  src/vtpty/UnixPty.cpp
Labels: VT: Backend, frontend, test, code health, no changelog

#1491 Introduce boxed types for margins and handling of input
  src/contour/Config.h
  src/contour/display/TerminalDisplay.cpp
  src/contour/helper.cpp
  src/contour/helper.h
  src/vtbackend/InputHandler.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/Terminal_test.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, frontend, test, no changelog

#1492 Adapt result-type to latest changes in std::expected<T, E> API as found on cppreference.com
  src/crispy/result.h
  src/crispy/result_test.cpp
Labels: code health, no changelog
