Repository contour-terminal/contour, pull requests merged in 2024-08, with the labels that each got.

#1581 Add missing keymapping for numpad during config load
  metainfo.xml
  src/contour/Config.cpp
Labels: frontend

#1582 Fix build for fmt 11
  src/vtbackend/Line.h
Labels: VT: Backend, no changelog

#1583 Fix notcurses gihub action
  .github/workflows/build.yml
  scripts/ci/notcurses-install-deps.sh
Labels: CI, no changelog

#1577 Fix windows packaging
  .github/workflows/build.yml
Labels: CI, no changelog

#1585 Get list of entries that are missing in config file
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ContourApp.cpp
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/crispy/times.h
Labels: frontend

#1579 Send backtab as a key
  metainfo.xml
  src/contour/Config.cpp
  src/contour/helper.cpp
Labels: frontend

#1580 Fix inheritance of terminal profiles
  src/contour/Config.cpp
  src/contour/Config.h
Labels: frontend, no changelog

#1557 Add config option to configure font fallback
  metainfo.xml
  src/contour/Config.cpp
  src/contour/ConfigDocumentation.h
  src/crispy/utils.h
  src/text_shaper/coretext_locator.mm
  src/text_shaper/font.h
  src/text_shaper/fontconfig_locator.cpp
  test/font-fallback.txt
Labels: frontend, fonts

#1586 Fix static build github action
  .github/static/DockerUbuntu
Labels: CI
