Repository contour-terminal/contour, pull requests merged in 2024-04, with the labels that each got.

#1493 Small refactor to generalize config creation
  src/contour/Config.cpp
  src/contour/Config.h
Labels: frontend, no changelog

#1496 Make user feedback during ssh login less verbose
  metainfo.xml
  src/vtpty/SshSession.cpp
  src/vtpty/SshSession.h
Labels: VT: Backend

#1498 Drop dead files from project (TerminalState.{cpp,h})
  src/contour/Config.cpp
  src/vtbackend/TerminalState.cpp
  src/vtbackend/TerminalState.h
  src/vtbackend/cell/CompactCell.h
Labels: code health, no changelog
