Repository contour-terminal/contour, pull requests merged in 2024-02, with the labels that each got.

#1446 Bump boxed-cpp version and ensure it's always the correct one being built against
  cmake/ContourThirdParties.cmake
  scripts/install-deps.ps1
  scripts/install-deps.sh
  src/contour/contour.yml
Labels: frontend, CMake, no changelog

#1449 Improvement/cmake ensure correct libunicode version
  cmake/ContourThirdParties.cmake
Labels: CMake, no changelog

#1451 Fix packaging for osx inside actions
  .github/workflows/build.yml
Labels: CI, no changelog

#1450 Fix thread safety issue on mouse move event handling
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/crispy/defines.h
  src/crispy/utils.h
Labels: frontend

#1454 Check abi define
  src/crispy/StackTrace.cpp
Labels: no changelog

#1453 Fix dead lock of terminal
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend

#1458 Some small corrections and fix automatic adjustement of atlas size
  metainfo.xml
  src/vtbackend/Image.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/SixelParser.h
  src/vtbackend/primitives.h
  src/vtpty/PageSize.h
  src/vtrasterizer/Renderer.cpp
Labels: VT: Backend, VT: rasterizer

#1456 Don't reinstall packages every time
  scripts/install-deps.sh
Labels: no changelog

#1457 Add CMakePresets.json
  .github/workflows/build.yml
  CMakeLists.txt
  CMakePresets.json
  scripts/ci-prepare-contour.sh
  scripts/install-deps.ps1
  src/contour/CMakeLists.txt
  src/crispy/CMakeLists.txt
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Functions.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen_test.cpp
  src/vtbackend/SixelParser.cpp
  src/vtbackend/primitives.h
  src/vtpty/SshSession.cpp
  src/vtrasterizer/CMakeLists.txt
  src/vtrasterizer/TextClusterGrouper_test.cpp
  vcpkg.json
Labels: VT: Backend, frontend, test, CI, VT: rasterizer, CMake, no changelog

#1464 Modularize CMakePresets.json using includes
  CMakePresets.json
  cmake/presets/common.json
  cmake/presets/os-linux.json
  cmake/presets/os-macos.json
  cmake/presets/os-windows.json
Labels: CMake, no changelog

#1469 Fix qt resources call in cmake
  src/contour/CMakeLists.txt
Labels: frontend, no changelog

#1300 Refactor configuration loading
  .github/workflows/build.yml
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/ContourGuiApp.cpp
  src/contour/ContourGuiApp.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/display/TerminalDisplay.cpp
  src/contour/display/TerminalDisplay.h
  src/contour/helper.cpp
  src/contour/helper.h
  src/text_shaper/font.h
  src/vtbackend/ColorPalette.cpp
  src/vtbackend/ColorPalette.h
  src/vtbackend/Settings.h
Labels: VT: Backend, frontend, CI, fonts

#1474 Add SGRSAVE and SGRRESTORE VT sequences to save and restore SGR state
  docs/vt-extensions/save-and-restore-sgr-attributes.md
  metainfo.xml
  mkdocs.yml
  src/vtbackend/Functions.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Screen_test.cpp
Labels: documentation, VT: Backend, test

#1462 Replace all occurrences of OS/X
  .github/ISSUE_TEMPLATE/Bug_Report.yml
  .github/mock-font-locator.yml
  .github/workflows/build.yml
  README.md
  docs/configuration/advanced/misc.md
  docs/configuration/advanced/mouse.md
  docs/drafts/terminal-emulators.md
  docs/features.md
  docs/index.md
  docs/install.md
  metainfo.xml
  src/contour/CMakeLists.txt
  src/contour/contour.yml
  src/contour/display/TerminalDisplay.cpp
  src/contour/helper.cpp
  src/text_shaper/fontconfig_locator.cpp
  src/vtrasterizer/FontDescriptions.h
  src/vtrasterizer/TextRenderer.cpp
Labels: documentation, frontend, CI, VT: rasterizer, fonts, no changelog

#1476 Ammendum to config refactor
  src/contour/Config.cpp
  src/contour/Config.h
Labels: frontend, no changelog

#1477 Fix format of mods during config generation
  src/contour/Config.h
Labels: frontend, no changelog

#1459 Add customizable statusline
  docs/configuration/indicator-statusline.md
  metainfo.xml
  mkdocs.yml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/TerminalSession.cpp
  src/crispy/CMakeLists.txt
  src/crispy/flags.h
  src/crispy/interpolated_string.cpp
  src/crispy/interpolated_string.h
  src/crispy/interpolated_string_test.cpp
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Color.cpp
  src/vtbackend/Color.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Sequencer.h
  src/vtbackend/Settings.h
  src/vtbackend/StatusLineBuilder.cpp
  src/vtbackend/StatusLineBuilder.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: documentation, VT: Backend, frontend, test

#1478 Fix key bindings and search prompt
  metainfo.xml
  src/contour/TerminalSession.cpp
Labels: frontend
