Repository contour-terminal/contour, pull requests merged in 2024-06, with the labels that each got.

#1520 Get rid of LIBTERMINAL_CACHE_CURRENT_LINE_POINTER
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Screen.h
Labels: VT: Backend, no changelog

#1522 Allow thickness of underline to be 1
  src/vtrasterizer/DecorationRenderer.cpp
Labels: VT: rasterizer, no changelog

#1518 Add action to set custom delimiters for selection
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/contour.yml
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend, no changelog

#1514 Add bash integration
  metainfo.xml
  src/contour/ContourApp.cpp
  src/contour/resources.qrc
  src/contour/shell-integration/shell-integration.bash
Labels: frontend

#1517 Fix bell after new window creation
  metainfo.xml
  src/contour/TerminalSession.h
  src/contour/ui.template/Terminal.qml.in
Labels: frontend

#1519 Add config entry to exit search mode into insert or normal
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/TerminalSession.cpp
  src/contour/contour.yml
  src/vtbackend/Settings.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend, frontend

#1523 Make more use of C++20 concepts for better compiler error diagnostics
  src/crispy/BufferObject.h
  src/vtbackend/CellUtil.h
  src/vtbackend/Grid.cpp
  src/vtbackend/Grid.h
  src/vtbackend/Line.cpp
  src/vtbackend/Line.h
  src/vtbackend/RenderBufferBuilder.cpp
  src/vtbackend/RenderBufferBuilder.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/VTWriter.cpp
  src/vtbackend/VTWriter.h
  src/vtbackend/cell/CellConcept.h
  src/vtparser/Parser-impl.h
  src/vtparser/Parser.h
Labels: VT: Backend, no changelog

#1497 Fix crush when status line is enabled
  metainfo.xml
  src/vtbackend/CMakeLists.txt
  src/vtbackend/Metrics.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Sequence.h
  src/vtbackend/SequenceBuilder.h
  src/vtbackend/Sequencer.cpp
  src/vtbackend/Sequencer.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/bench-headless.cpp
Labels: VT: Backend, no changelog

#1500 Restrict forwarding of some of the inputs while in normal mode
  metainfo.xml
  src/vtbackend/InputHandler.h
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend

#1524 Bump clang-format to 18
  .github/workflows/build.yml
  src/contour/Actions.h
  src/crispy/CLI.cpp
  src/crispy/StrongLRUCache.h
  src/crispy/utils.h
  src/vtbackend/CellUtil.h
  src/vtbackend/Image.h
  src/vtbackend/InputBinding.h
  src/vtbackend/InputGenerator.h
  src/vtbackend/RenderBufferBuilder.h
  src/vtbackend/Screen.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/VTWriter.cpp
  src/vtparser/Parser.h
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/TextureAtlas.h
Labels: VT: Backend, frontend, CI, VT: rasterizer, no changelog

#1525 Fixes application window icon on (KDE) Wayland
  metainfo.xml
  src/contour/CMakeLists.txt
  src/contour/Config.h
  src/contour/ContourGuiApp.cpp
  src/contour/contour.yml
Labels: frontend

#1527 Revive fixes made for Flatpak, accidentally dropped in PR #1168
  src/vtpty/Process_unix.cpp
  src/vtpty/UnixPty.cpp
Labels: VT: Backend, no changelog

#1529 Add auto-generated release-notes page to website
  .github/workflows/docs.yml
  mkdocs.yml
  scripts/extract-changelog-from-metainfo.py
Labels: CI

#1530 Code cleanups
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
  src/vtbackend/bench-headless.cpp
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
  src/vtpty/MockPty.cpp
  src/vtpty/MockPty.h
  src/vtpty/MockViewPty.cpp
  src/vtpty/MockViewPty.h
  src/vtpty/Process.h
  src/vtpty/Pty.h
  src/vtpty/SshSession.cpp
  src/vtpty/SshSession.h
  src/vtpty/UnixPty.cpp
  src/vtpty/UnixPty.h
Labels: VT: Backend, code health, no changelog

#1531 Add some more missing vi input motions, such as `y$`, `o$`, and many others as initiated by `y` and `o`
  metainfo.xml
  src/vtbackend/ViInputHandler.cpp
Labels: VT: Backend, vi-mode

#1532 Fix qml warnings
  src/contour/TerminalSession.h
  src/contour/ui.template/Terminal.qml.in
Labels: frontend, no changelog

#1535 Create VT extensions list for documentation
  .github/workflows/docs.yml
  .gitignore
  docs/stylesheets/extra.css
  mkdocs.yml
  src/contour/ContourApp.cpp
  src/contour/ContourApp.h
  src/crispy/escape.h
  src/vtbackend/Functions.cpp
  src/vtbackend/Functions.h
  src/vtbackend/Functions_test.cpp
  src/vtbackend/Screen.cpp
  src/vtbackend/Screen.h
  src/vtbackend/Sequence.h
  src/vtbackend/Terminal.h
Labels: documentation, VT: Backend, frontend, test, CI, no changelog

#1539 Fix docs creation
  .github/workflows/docs.yml
Labels: CI, no changelog

#1540 [Github CI] Update macOS job to macos-14
  .github/workflows/build.yml
  metainfo.xml
Labels: CI, platform: macOS

#1545 Handle different arguments for contour executable
  metainfo.xml
  src/contour/ContourGuiApp.cpp
  src/crispy/App.cpp
Labels: frontend

#1538 Restrict font locator configurability down to `native` and `mock`.
  docs/configuration/profiles.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/Config.h
  src/contour/ConfigDocumentation.h
  src/contour/contour.yml
  src/text_shaper/CMakeLists.txt
  src/text_shaper/font_locator_provider.cpp
  src/text_shaper/font_locator_provider.h
  src/text_shaper/open_shaper.cpp
  src/vtrasterizer/FontDescriptions.h
  src/vtrasterizer/TextRenderer.cpp
  vcpkg-configuration.json
  vcpkg.json
Labels: documentation, frontend, VT: rasterizer, fonts

#1544 Stop scroll when switching to normal mode
  metainfo.xml
  src/vtbackend/ViCommands.cpp
Labels: VT: Backend

#1546 Add key binding disabled indicator
  metainfo.xml
  src/contour/TerminalSession.cpp
  src/vtbackend/Terminal.cpp
  src/vtbackend/Terminal.h
Labels: VT: Backend, frontend

#1503 Add CPM fallback for the dependencies and static build
  .github/static/DockerQt
  .github/static/DockerUbuntu
  .github/static/readme
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  cmake/ContourThirdParties.cmake
  metainfo.xml
  scripts/install-deps.sh
  scripts/install-static.sh
  src/contour/CMakeLists.txt
  src/contour/ContourGuiApp.cpp
  src/text_shaper/CMakeLists.txt
  src/vtbackend/bench-headless.cpp
  src/vtpty/CMakeLists.txt
  src/vtpty/UnixPty.cpp
Labels: VT: Backend, frontend, CI, CMake

#1547 Add mode dependent configuration for indicator statusline colors
  docs/configuration/colors.md
  metainfo.xml
  src/contour/Config.cpp
  src/contour/ConfigDocumentation.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Terminal.cpp
Labels: documentation, VT: Backend, frontend

#1543 Add key map documentation generation
  .github/workflows/docs.yml
  docs/configuration/key-mapping.md
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/ConfigDocumentation.h
  src/contour/ContourApp.cpp
  src/contour/ContourApp.h
  src/vtbackend/Color.cpp
Labels: documentation, VT: Backend, frontend, CI, no changelog

#1542 [Github CI] bump various github actions
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
Labels: CI, no changelog
