Repository contour-terminal/contour, pull requests merged in 2025-03, with the labels that each got.

#1731 Update adoption statuses for color-palette-update-notifications
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation

#1723 [GitHub] Fix bug report template drop-down selection elements
  .github/ISSUE_TEMPLATE/Bug_Report.yml
Labels: CI, no changelog

#1732 Fix a couple of typos
  docs/CONTRIBUTING.md
  docs/vt-extensions/vertical-line-marks.md
Labels: documentation, no changelog

#1720 Refactor shaper
  .github/actions/spelling/allow/allow.txt
  .github/actions/spelling/allow/names.txt
  .github/workflows/build.yml
  src/text_shaper/shaper.cpp
Labels: CI, fonts, no changelog

#1734 Update clang version
  .github/workflows/build.yml
  src/crispy/StackTrace.cpp
  src/crispy/utils.h
  src/text_shaper/shaper.cpp
  src/vtbackend/Capabilities.h
  src/vtbackend/Color.h
  src/vtbackend/SequenceBuilder.h
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/bench-headless.cpp
  src/vtparser/Parser-impl.h
  src/vtrasterizer/DecorationRenderer.cpp
  src/vtrasterizer/Pixmap.h
  src/vtrasterizer/TextureAtlas.h
Labels: VT: Backend, CI, VT: rasterizer, fonts, no changelog

#1735 Fix some mistakes in the documentation of the config
  src/contour/ConfigDocumentation.h
  src/contour/contour.yml
  src/contour/resources.qrc
Labels: frontend, no changelog
