Repository contour-terminal/contour, pull requests merged in 2025-01, with the labels that each got.

#1695 Further improvements to tabs handling (add MoveTabToLeft / MoveTabToRight / MoveTabTo actions)
  metainfo.xml
  src/contour/Actions.cpp
  src/contour/Actions.h
  src/contour/Config.cpp
  src/contour/ConfigDocumentation.h
  src/contour/TerminalSession.cpp
  src/contour/TerminalSession.h
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/ui.template/Terminal.qml.in
Labels: frontend

#1700 Implement CenterCursor vi motion
  metainfo.xml
  src/vtbackend/ViCommands.cpp
  src/vtbackend/ViInputHandler.cpp
  src/vtbackend/ViInputHandler.h
Labels: VT: Backend

#1702 Add control codes for Control+(5,6,7,8) input
  metainfo.xml
  src/vtbackend/InputGenerator.cpp
Labels: VT: Backend

#1703 InputGenerator: refactor Ctrl+key input mapping
  src/vtbackend/InputGenerator.cpp
Labels: VT: Backend, no changelog

#1698 Switch to TerminalSessionManager everywhere and fix small bug
  src/contour/TerminalSession.cpp
  src/contour/TerminalSessionManager.cpp
  src/contour/TerminalSessionManager.h
  src/contour/ui.template/Terminal.qml.in
Labels: frontend, no changelog

#1709 Add arm runner to the ubuntu matrix
  .github/workflows/build.yml
Labels: CI, no changelog

#1706 Make some actions repeatable
  src/contour/Actions.h
  src/contour/TerminalSession.cpp
  src/crispy/utils.h
Labels: frontend, no changelog

#1715 Relax condition for codepoints size for IME
  metainfo.xml
  src/contour/helper.cpp
Labels: frontend

#1716 Do not crop underflow glyphs if they fit in cell size height
  metainfo.xml
  src/vtrasterizer/TextRenderer.cpp
Labels: VT: rasterizer
