Repository contour-terminal/contour, pull requests merged in 2025-06, with the labels that each got.

#1763 allow preset colors tweaks
  docs/configuration/colors.md
  metainfo.xml
  src/contour/Config.cpp
Labels: documentation, frontend

#1768 Update Qt version that we use for static builds
  .github/static/DockerQt
Labels: CI

#1771 color-palette-update-notifications.md: add Nushell
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation

#1769 Copy Extension (OSC 52) update
  .github/actions/spelling/allow/allow.txt
  src/vtbackend/Screen.cpp
  src/vtbackend/Sequence.h
  src/vtbackend/VTType.cpp
  src/vtbackend/VTType.h
Labels: VT: Backend, CI, no changelog
