Repository contour-terminal/contour, pull requests merged in 2025-05, with the labels that each got.

#1756 color-palette-update-notifications.md: add VTE
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation, no changelog

#1757 color-palette-update-notifications.md: fix non-clickable Vim link
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation, no changelog

#1753 Let configure compilation with -march=native flag
  CMakeLists.txt
Labels: CMake, no changelog

#1755 support mouse mode for WSL under Windows 10
  .github/actions/spelling/expect.txt
  .gitignore
  README.md
  metainfo.xml
  src/vtpty/ConPty.cpp
  src/vtpty/ConPty.h
Labels: documentation, VT: Backend, CI

#1762 Update path to the kio/servicemenus
  .github/actions/spelling/allow/uncategorized.txt
  .github/workflows/build.yml
  src/contour/CMakeLists.txt
Labels: frontend, CI, no changelog
