Repository contour-terminal/contour, pull requests merged in 2025-04, with the labels that each got.

#1744 Fix indicator statusline default and insert mode loading
  .github/workflows/build.yml
  docs/configuration/colors.md
  metainfo.xml
  src/contour/Config.cpp
Labels: documentation, frontend, CI

#1745 docs: Switch Helix mode 2031 tracker to an issue
  docs/vt-extensions/color-palette-update-notifications.md
Labels: documentation

#1748 Drop Qt5 support
  .github/actions/spelling/allow/qt-terms.txt
  .github/fedora/contour.spec
  .github/workflows/build.yml
  .github/workflows/codechecker-analysis.yml
  .gitignore
  CMakeLists.txt
  README.md
  autogen.sh
  cmake/DeployQt.cmake
  docs/install.md
  metainfo.xml
  src/contour/CMakeLists.txt
  src/contour/display/Blur.cpp
  src/contour/display/CMakeLists.txt
  src/contour/display/TerminalDisplay.cpp
  src/contour/ui/RequestPermission.qml
  src/contour/ui/Terminal.qml
  src/contour/ui/main.qml
  src/crispy/StrongLRUHashtable.h
  src/crispy/point.h
  src/crispy/size.h
  src/crispy/times.h
  src/text_shaper/font.h
  src/vtbackend/Capabilities.h
  src/vtbackend/CellUtil.h
  src/vtbackend/Color.h
  src/vtbackend/ColorPalette.h
  src/vtbackend/Cursor.h
  src/vtbackend/Functions.h
  src/vtbackend/Grid.h
  src/vtbackend/Hyperlink.h
  src/vtbackend/InputGenerator.h
  src/vtbackend/Line.h
  src/vtbackend/Metrics.h
  src/vtbackend/Selector.h
  src/vtbackend/Sequence.h
  src/vtbackend/Terminal.h
  src/vtbackend/ViInputHandler.h
  src/vtbackend/Viewport.h
  src/vtbackend/primitives.h
  src/vtbackend/test_helpers.h
  src/vtparser/Parser-impl.h
  src/vtpty/ImageSize.h
  src/vtpty/PageSize.h
  src/vtrasterizer/GridMetrics.h
  src/vtrasterizer/Pixmap.h
  src/vtrasterizer/TextureAtlas.h
Labels: documentation, VT: Backend, frontend, CI, VT: rasterizer, fonts, CMake

#1751 a workaround to issue #1750
  src/text_shaper/shaper.cpp
Labels: fonts, no changelog
